<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate"/>
    <!-- <link rel="shortcut icon" href="/favicon.ico" />-->

    <title></title>
    <!-- FA -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!--link href="vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/-->

    <link href="/vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/>
    <link href="/vendor/ext-5.1.1-gpl/build/packages/sencha-charts/build/crisp/resources/sencha-charts-all.css" rel="stylesheet"/>
    
    <link href="/carmenweb/css/consultation.css" rel="stylesheet"/>
    <link href="/carmenweb/css/font-alkante/font-alkante.css" rel="stylesheet"/>
    <link href="/carmenweb/js/CarmenJS/Carmen/Ext/FileBrowser/css/FileBrowser.css" rel="stylesheet"/>
    
    <link href="/carmenweb/js/CarmenJS/Carmen/Ext/colorpick/css/ext-ux-all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/carmenweb/css/consultation.css" />
    <link rel="stylesheet" href="/carmenimportdata/css/CarmenImportData.css" />
    
    <style type="text/css">
      img.x-tree-elbow-img:first-child {
        display: none !important;
      }
      .x-grid-cell-inner{margin-top:5px !important;margin-bottom:5px !important;padding-top:0px !important;padding-bottom:0px !important;}
      .x-tree-icon {margin-top: -4px !important}
      .x-tree-elbow-img {margin-top: -2px !important}
      .x-btn.inverse {background-color:transparent;}
      .x-btn.inverse .x-btn-inner-default-small {color:#157fcc;}
    </style>
    
        <script type="text/javascript">
        var isAdmin = false;
        </script>
</head>

<body>
    <!-- Display Loading mask -->
{#     <div id="loading-mask" class="loading-mask"></div>#}
{#     <div id="loading" class="loading">#}
{#         <div class="loading-indicator">#}
{#             <div style="padding-top: 4px;">Chargement en cours</div>#}
{#         </div>#}
{#     </div>#}
    
    <!-- Main html squeleton -->
    <div id="main">
    </div>
    <div id="ToolTip"></div>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript" src="{{ asset('vendor/i18next/i18next.min.js') }}"></script>
    <script type="text/JavaScript" src="/parametrages/parametrages.js"> </script>
    {% if app.environment == 'dev' %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all-debug.js"></script>
    <script type="text/javascript">ENVIRONNEMENT='dev';</script>
    {% else %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all.js"></script>
    <script type="text/javascript">ENVIRONNEMENT='prod';</script>
    {%  endif %}
    
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/packages/sencha-charts/build/sencha-charts.js"></script>
    
    {% if app.environment == 'dev' %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp-debug.js"></script>
    {% else %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
    {%  endif %}
    
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-locale/build/ext-locale-fr.js"></script>
    <script type="text/JavaScript">var EXTJS_PATH=function(path){var root = "/vendor/ext-5.1.1-gpl/"; return root+path.replace(root, "");}</script>
    

    <script type="text/JavaScript" src="/carmenweb/js/proj4js/lib/proj4js-compressed.js"></script>
    
    
    <!-- app configuration -->
    <script type="text/JavaScript">
        Ext.Ajax.config.withCredentials = true;
        Ext.data.Connection.prototype.config.withCredentials = true;
        Ext.data.proxy.Ajax.prototype.withCredentials = true;
        Ext.ns("Carmen");
        Carmen.user = {{ user|raw }};
        Carmen.config = {{ config|json_encode()|raw }};
        Carmen.metadata = {{ metadata|json_encode()|raw }};
        Carmen.task = {{ task|json_encode()|raw }};


        var _t = i18n.t;
        // i18next initialisation
        i18n.init({
          lng: 'fr',
          fallbackLng: 'fr',
          preload     : ['fr'],
          resGetPath: '/carmenweb/locales/__lng__/translation.json',
          debug : false
        });
        
    </script>
    
    <!-- ext 4/5 -->
    <!--script type='text/javascript'>
        var Ext = Ext || {};
        Ext.manifest = {};
    </script-->
    
    
    <!-- Proj4js js -->
    <script type="text/javascript">
        document.namespaces;
    </script>

 
    <!-- context init with global parameters (temporary) -->
    <script type="text/JavaScript" src="/carmenweb/js/context_init2.js"></script>
    <!-- Carmen specifics include libraries -->
    <!--script type="text/JavaScript" src="/carmenweb/js/CarmenJS/Carmen.js"></script-->
    <script type="text/JavaScript" src="/carmenweb/js/CarmenJS/Carmen/Ext/IdentifierVType.js"></script>
    <script type="text/JavaScript" src="/carmenimportdata/js/CarmenAdminSynchronisation.js"></script>

</body>
</html>