<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate"/>

    <title>Importation des données pour la métadonnée {{ metadata.metadata_title }} ({{ metadata.uuid }})</title>
    <!-- FA -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!--link href="vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/-->
    <!--link href="vendor/OpenLayers-2.13.1/theme/default/style.css" rel="stylesheet"/-->

    {# use stylesheets/javascripts tag to use assetic #}
    {# {% stylesheets filter="scssphp,cssrewrite" output="css/app.css" #}
    {# "vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" #}
    {# "vendor/OpenLayers-2.13.1/theme/default/style.css" #}
    {# "bundles/carmenweb/css/consultation.css" #}
    {# "bundles/carmenweb/css/font-alkante/font-alkante.css" %} #}
    {# <link href="{{ asset_url }}" rel="stylesheet"/> #}
    {# {% endstylesheets %} #}

    <link href="/vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"
          rel="stylesheet"/>

    {% if app.environment == 'dev' %}
        <link href="/vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"
              rel="stylesheet"/>
        <link href="/vendor/ext-5.1.1-gpl/build/packages/sencha-charts/build/crisp/resources/sencha-charts-all.css"
              rel="stylesheet"/>

        <link href="/vendor/OpenLayers-2.13.1/theme/default/style.css" rel="stylesheet"/>
        <link href="/carmenweb/css/consultation.css" rel="stylesheet"/>
        <link href="/carmenweb/css/font-alkante/font-alkante.css" rel="stylesheet"/>
    {% endif %}

    <link href="/vendor/OpenLayers-2.13.1/theme/default/style.css" rel="stylesheet"/>
    <link href="/carmenweb/css/font-alkante/font-alkante.css" rel="stylesheet"/>
    <link href="/carmenweb/js/CarmenJS/Carmen/Ext/FileBrowser/css/FileBrowser.css" rel="stylesheet"/>
    <link href="/carmenweb/js/CarmenJS/Carmen/Ext/colorpick/css/ext-ux-all.css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="/carmenweb/js/descartes/theme/descartes.css" />-->
    <link rel="stylesheet" href="/carmenweb/css/consultation.css"/>
    <link rel="stylesheet" href="/carmenimportdata/css/CarmenImportData.css"/>
    <!--link rel="stylesheet" href="/carmenweb/js/descartes-extension/theme/extJS/descartes_full_extjs.css" /-->

    <script type="text/javascript">
        var isAdmin = false;
    </script>
    <!-- Display Loading mask -->
    {# <div id="loading-mask" class="loading-mask"></div> #}
    {# <div id="loading" class="loading"> #}
    {# <div class="loading-indicator"> #}
    {# <div style="padding-top: 4px;">Chargement en cours</div> #}
    {# </div> #}
    {# </div> #}

    <!-- Main html squeleton -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <!--<script type="text/javascript" src="{{ asset('vendor/i18next/i18next.min.js') }}"></script>-->
    <script type="text/JavaScript" src="/parametrages/parametrages.js"></script>
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    {% if app.environment == 'dev' %}
        <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all-debug.js"></script>
        <script type="text/javascript">ENVIRONNEMENT = 'dev';</script>
    {% else %}
        <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all.js"></script>
        <script type="text/javascript">ENVIRONNEMENT = 'prod';</script>
    {% endif %}
    <script src="/carmenweb/js/CarmenJS/Carmen/Ext/ExtCKEditor/ExtCKEditor.js"></script>

    <script type="text/JavaScript"
            src="/vendor/ext-5.1.1-gpl/build/packages/sencha-charts/build/sencha-charts.js"></script>

    {% if app.environment == 'dev' %}
        <script type="text/JavaScript"
                src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp-debug.js"></script>
    {% else %}
        <script type="text/JavaScript"
                src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
    {% endif %}

    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-locale/build/ext-locale-fr.js"></script>
    <script type="text/JavaScript">var EXTJS_PATH = function (path) {
            var root = "/vendor/ext-5.1.1-gpl/";
            return root + path.replace(root, "");
        }</script>


    {# use javascripts tag to use assetic #}
    {# {% javascripts filter="?jsqueeze" output="js/app.js" #}
    {# "bundles/carmenweb/js/proj4js/lib/proj4js-compressed.js" %} #}
    {# <script src="{{ asset_url }}"></script> #}
    {# {% endjavascripts %} #}

    <script type="text/JavaScript" src="/carmenweb/js/proj4js/lib/proj4js-compressed.js"></script>

    <!-- app configuration -->
    <script type="text/JavaScript">
        CARMEN_DEBUG = true;
        Ext.onReady(function () {
            Ext.Ajax.config.withCredentials = true;
            Ext.data.Connection.prototype.config.withCredentials = true;
            Ext.data.proxy.Ajax.prototype.withCredentials = true;
        });
        Ext.ns("Carmen");
        Carmen.user = {{ user|raw }};
        Carmen.config = {{ config|json_encode()|raw }};
        Carmen.metadata = {{ metadata|json_encode()|raw }};
        Carmen.Defaults = CDefaults = {{ jsdefaults|json_encode()|raw }};
        Carmen.parameters = {{ parameters|json_encode()|raw }};


    </script>

    <!-- ext 4/5 -->
    <!--script type='text/javascript'>
        var Ext = Ext || {};
        Ext.manifest = {};
    </script-->


    <!-- Proj4js js -->
    <script type="text/javascript">
        document.namespaces;
    </script>


    <script type="text/JavaScript" src="/carmenimportdata/js/CarmenImportConfigurator.js"></script>
    <script type="text/JavaScript" src="/carmenimportdata/js/CarmenImportData.js"></script>
    <script type="text/JavaScript" src="/carmenimportdata/js/CarmenAddToWebService.js"></script>
    <script type="text/javascript"
            src="{{ constant('CARMEN_URL_CATALOGUE') }}{{ path('fos_js_routing_js', {'callback': 'fos.Router.setDataMultiHost'}, false)|replace({'/app_dev.php':''}) }}"></script>

</head>

<body>
<div id="main"></div>
<div id="ToolTip"></div>
</body>
</html>