<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <title> </title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	    
        <!-- ExtJs 5.1.1 GPL theme crisp-->
        <link href="/vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/>
	    
        <!-- ExtJs 5.1.1 GPL Js -->
        <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all.js"></script>
		<script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>

        <script type="text/javascript"> var isAdmin = false; </script>
        {% if app.environment == 'dev' %}
            <script type="text/javascript">ENVIRONNEMENT='dev';</script>
        {% else %}
            <script type="text/javascript">ENVIRONNEMENT='prod';</script>
        {%  endif %}


        <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-locale/build/ext-locale-fr.js"></script>
        <script type="text/JavaScript">
            var EXTJS_PATH = function(path){var root = "/vendor/ext-5.1.1-gpl/"; return root+path.replace(root, "");}
        </script>
    
        <script type="text/JavaScript" src="/carmenweb/js/CarmenJS/Carmen/Ext/IdentifierVType.js"></script>
        <script type="text/javascript" src="/carmenimportdata/js/CarmenTableStructureManager.js"> </script>
        <script type="text/javascript" src="/carmenimportdata/js/CarmenImportFromStandard.js" > </script>
        
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"> </script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"> </script>
    </head>
    <style>
      .prodige-trigger {background-image:none !important; padding : 5px 5px 0px 5px !important; }
    </style>
    <body lang="fr-FR" dir="LTR">
        <script>
            var PRODIGE_DEFAULT_EPSG = "{{ PRODIGE_DEFAULT_EPSG }}";
            var url_back = "{{ url_back }}";
            var table_name = '{{ table_name }}';
            var typeStockage =  null;
            switch('{{typeStockage}}'){
                case '-3': typeStockage = 'tabulaire'; break;
                case '-1': typeStockage = 'vectoriel'; break;
            }
            
            Ext.onReady(function() {
                CarmenImportFromStandard.getInstance().run({{ metadata_id }}, table_name, url_back, typeStockage);
            });
        </script>

        <div style="text-align:center" id='form_panel_to_render'> 
        </div>
    </body>
</html>