/*	Panoramique	*/
.DescartesToolBar .DescartesToolDragPanItemActive, .DescartesToolBar .DescartesToolDragPanItemInactive { 
	background: url("../img/icon_pan_inactive.png") no-repeat center;
	float: none;
}

/*	Zoom avant	*/
.DescartesToolBar .DescartesToolZoomInItemActive, .DescartesToolBar .DescartesToolZoomInItemInactive {
	background: url("../img/icon_zoom_in_inactive.png") no-repeat center;
	float: none;
}

/*	Recentrage par clic	*/
.DescartesToolBar .DescartesToolCenterMapItemActive, .DescartesToolBar .DescartesToolCenterMapItemInactive {
	background: url("../img/icon_recenter_inactive.png") no-repeat center;
	float: none;
}

/*	Mesure de distance	*/
.DescartesToolBar .DescartesToolMeasureMeasureDistanceItemActive, .DescartesToolBar .DescartesToolMeasureMeasureDistanceItemInactive {
	background: url("../img/icon_measure_length_inactive.png") no-repeat center;
	float: none;
}

/*	Mesure de surface (+perimetre)	*/
.DescartesToolBar .DescartesToolMeasureMeasureAreaGeoideItemActive, .DescartesToolBar .DescartesToolMeasureMeasureAreaGeoideItemInactive {
	background: url("../img/icon_measure_area_inactive.png") no-repeat center;
	float: none;
}

/*	Bandeau	*/
.DescartesToolBar .x-btn-text.DescartesButtonToggleMasquerBandeauItemActive, .DescartesToolBar .x-btn-text.DescartesButtonToggleMasquerBandeauItemInactive { 
	background: url("../img/icon_masque_bandeau_inactive.png") no-repeat center;
	float: none;
}

/*	Légende	*/
.DescartesToolBar .DescartesButtonLegendItemActive, .DescartesToolBar .DescartesButtonLegendItemInactive {
	background: url("../img/icon_legend_inactive.png") no-repeat center;
	float: none;
}

/*	Refresh	*/
.DescartesToolBar .DescartesButtonRefreshItemActive, .DescartesToolBar .DescartesButtonRefreshItemInactive {
	background: url("../img/icon_refresh_inactive.png") no-repeat center;
	float: none;
}

/*	Download	*/
.DescartesToolBar .DescartesButtonDownloadItemActive, .DescartesToolBar .DescartesButtonDownloadItemInactive {
	background: url("../img/icon_download_inactive.png") no-repeat center;
}

/*	Print	*/
.DescartesToolBar .DescartesButtonPrintItemActive, .DescartesToolBar .DescartesButtonPrintItemInactive {
	background: url("../img/icon_print_inactive.gif") no-repeat center;
	float: none;
}

/* Information */
.DescartesToolBar .DescartesToolInformationItemActive, .DescartesToolBar .DescartesToolInformationItemInactive {
    background: url("../img/icon_information_inactive.png") no-repeat center;
	float: none;
}

/* InformationPoint */
.DescartesToolBar .DescartesToolInformationPointItemActive, .DescartesToolBar .DescartesToolInformationPointItemInactive {
    background: url("../img/icon_information_inactive.png") no-repeat center;
	float: none;
}

/* InformationRect */
.DescartesToolBar .DescartesToolInformationRectItemActive, .DescartesToolBar .DescartesToolInformationRectItemInactive {
    background: url("../img/icon_selection_rectangle_inactive.png") no-repeat center;
	float: none;
}
/* InformationCircle */
.DescartesToolBar .DescartesToolInformationCircleItemActive, .DescartesToolBar .DescartesToolInformationCircleItemInactive {
    background: url("../img/icon_selection_ellipse_inactive.png") no-repeat center;
	float: none;
}
/* InformationUrl */
.DescartesToolBar .DescartesToolInformationUrlItemActive, .DescartesToolBar .DescartesToolInformationUrlItemInactive {
    background: url("../img/icon_selection_url_inactive.png") no-repeat center;
	float: none;
}

/*  Buffer   */
.DescartesToolBar .DescartesButtonBufferItemActive, .DescartesToolBar .DescartesButtonBufferItemInactive {
    background: url("../img/annotation/icon_annotation_buffer_inactive.png") no-repeat center;
    float: none;
}

/*  Tooltips  */

.DescartesToolBar .DescartesButtonToolTipsToolTipsOffItemActive, .DescartesToolBar .DescartesButtonToolTipsOffItemInactive {
    background: url("../img/icon_infobulles_off.png") no-repeat center;
    float: none;
}

.DescartesToolBar .DescartesButtonToolTipsToolTipsOn1ItemActive, .DescartesToolBar .DescartesButtonToolTipsOn1ItemInactive {
    background: url("../img/icon_infobulles_on_1.png") no-repeat center;
    float: none;
}

.DescartesToolBar .DescartesButtonToolTipsToolTipsOn3ItemActive, .DescartesToolBar .DescartesButtonToolTipsOn3ItemInactive {
    background: url("../img/icon_infobulles_on_3.png") no-repeat center;
    float: none;
}

/* Export KML */
.DescartesToolBar .DescartesButtonExportKMLItemActive, .DescartesToolBar .DescartesButtonExportKMLItemInactive {
	background: url("../img/icon_export_kml_inactive.png") no-repeat center;
	float: none;
}

/* Annotation */
.DescartesToolBar .DescartesToolAnnotationItemActive, .DescartesToolBar .DescartesToolAnnotationItemInactive {
	background: url("../img/icon_annotation_inactive.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationUpdateStyleButtonInactive, button.DescartesAnnotationUpdateStyleButtonActive {
	background: url("../img/annotation/icon_annotation_style_inactive.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationSnappingButtonInactive, button.DescartesAnnotationSnappingButtonActive {
    background: url("../img/icon_snapping_inactive.png") no-repeat center;
    float: none;
}
button.DescartesAnnotationUpdateStyleButtonDisabled {
	background: url("../img/annotation/icon_annotation_style_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationDrawPointButtonInactive, button.DescartesAnnotationDrawPointButtonActive {
	background: url("../img/annotation/icon_annotation_point_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationDrawPointButtonDisabled {
	background: url("../img/annotation/icon_annotation_point_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationDrawPointAttrButtonInactive, button.DescartesAnnotationDrawPointAttrButtonActive {
	background: url("../img/annotation/icon_annotation_point_attr_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationDrawPointAttrButtonDisabled {
	background: url("../img/annotation/icon_annotation_point_attr_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationDrawLineButtonInactive, button.DescartesAnnotationDrawLineButtonActive {
	background: url("../img/annotation/icon_annotation_polyline_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationDrawLineButtonDisabled {
	background: url("../img/annotation/icon_annotation_polyline_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationDrawLineAttrButtonInactive, button.DescartesAnnotationDrawLineAttrButtonActive {
	background: url("../img/annotation/icon_annotation_polyline_attr_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationDrawLineAttrButtonDisabled {
	background: url("../img/annotation/icon_annotation_polyline_attr_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationDrawPolygonButtonInactive, button.DescartesAnnotationDrawPolygonButtonActive {
	background: url("../img/annotation/icon_annotation_polygon_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationDrawPolygonButtonDisabled {
	background: url("../img/annotation/icon_annotation_polygon_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationDrawPolygonAttrButtonInactive, button.DescartesAnnotationDrawPolygonAttrButtonActive {
	background: url("../img/annotation/icon_annotation_polygon_attr_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationDrawPolygonAttrButtonDisabled {
	background: url("../img/annotation/icon_annotation_polygon_attr_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationMoveAnnotationButtonInactive, button.DescartesAnnotationMoveAnnotationButtonActive {
	background: url("../img/annotation/icon_annotation_move_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationMoveAnnotationButtonDisabled {
	background: url("../img/annotation/icon_annotation_move_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationUpdateAnnotationButtonInactive, button.DescartesAnnotationUpdateAnnotationButtonActive {
	background: url("../img/annotation/icon_annotation_modify_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationUpdateAnnotationButtonDisabled {
	background: url("../img/annotation/icon_annotation_modify_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationAddTextButtonInactive, button.DescartesAnnotationAddTextButtonActive {
	background: url("../img/annotation/icon_annotation_text_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationAddTextButtonDisabled {
	background: url("../img/annotation/icon_annotation_text_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationUpdateAttrButtonInactive, button.DescartesAnnotationUpdateAttrButtonActive {
	background: url("../img/annotation/icon_annotation_attr_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationUpdateAttrButtonDisabled {
	background: url("../img/annotation/icon_annotation_attr_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationCreateZoneButtonInactive, button.DescartesAnnotationCreateZoneButtonActive {
	background: url("../img/annotation/icon_annotation_buffer_inactive.png") no-repeat center;
	float: none;
}
button.DescartesAnnotationCreateZoneButtonDisabled {
	background: url("../img/annotation/icon_annotation_buffer_disabled.png") no-repeat center;
	float: none;
}

button.DescartesAnnotationCreateZoneAllButtonInactive, button.DescartesAnnotationCreateZoneAllButtonActive {
    background: url("../img/annotation/icon_annotation_buffer_all_inactive.png") no-repeat center;
    float: none;
}
button.DescartesAnnotationCreateZoneAllButtonDisabled {
    background: url("../img/annotation/icon_annotation_buffer_all_disabled.png") no-repeat center;
    float: none;
}

button.DescartesAnnotationExportAnnotationButtonInactive, button.DescartesAnnotationExportAnnotationButtonActive {
    background: url("../img/annotation/icon_annotation_export_inactive.png") no-repeat center;
    float: none;
}
button.DescartesAnnotationExportAnnotationButtonDisabled {
    background: url("../img/annotation/icon_annotation_export_disabled.png") no-repeat center;
    float: none;
}

/*  QueryAttributes */
.DescartesToolBar .DescartesButtonQueryAttributesItemActive, .DescartesToolBar .DescartesButtonQueryAttributesItemInactive {
    background: url("../img/icon_query_attributes_inactive.png") no-repeat center;
	float: none;
}

/*  CarmenExportPDF */
.DescartesToolBar .DescartesButtonCarmenExportPDFItemActive, .DescartesToolBar .DescartesButtonCarmenExportPDFItemInactive {
    background: url("../img/icon_print_pdf_inactive.png") no-repeat center;
    float: none;
}

/*	Choix de couches WMS decouvertes	*/
.DescartesToolBar .DescartesButtonContentTaskChooseWmsLayersExtJSExtensionItemInactive {
	background: url("../img/icon_add_layer_wms_disabled.png") no-repeat center;
	float: none;
}
.DescartesToolBar .DescartesButtonContentTaskChooseWmsLayersExtJSExtensionItemActive {
	background: url("../img/icon_add_layer_wms_inactive.png") no-repeat center;
	float: none;
}

/*	Choix de couches WFS decouvertes	*/
.DescartesToolBar .DescartesButtonContentTaskChooseWfsLayersExtJSItemInactive {
  background: url("../img/icon_add_layer_wfs_disabled.png") no-repeat center;
  float: none;
}
.DescartesToolBar .DescartesButtonContentTaskChooseWfsLayersExtJSItemActive {
  background: url("../img/icon_add_layer_wfs_inactive.png") no-repeat center;
  float: none;
}

/*  Snapping annotations */
.DescartesToolBar .x-btn-text.DescartesButtonToggleSnappingItemActive, .DescartesToolBar .x-btn-text.DescartesButtonToggleSnappingItemInactive {
    background: url("../img/icon_snapping_inactive.png") no-repeat center;
    float: none;
}
