.ux-filebrowser-icon-select {
	background-image: url('../media/icons/16/select.png') !important;
}
.ux-filebrowser-icon-download {
	background-image: url('../media/icons/16/download.png') !important;
}.ux-filebrowser-icon-upload {
	background-image: url('../media/icons/16/upload.png') !important;
}
.ux-filebrowser-icon-downloadfile {
	background-image: url('../media/icons/16/page_white_download.png') !important;
}
.ux-filebrowser-icon-selectfile {
	background-image: url('../media/icons/16/page_white_select.png') !important;
}


.ux-mu-status-value {
	float: left;
	min-width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	margin: 0 3px 0 2px;
	cursor: pointer;
	overflow: hidden;
}

.icon-help {
	background-image: url(../lib/upload/img/help.png) !important;
}

/*
 * Action icons
 */
.ux-mu-icon-action-ok {
	background-image: url(../lib/upload/img/tick.png) !important;
}

.ux-mu-icon-action-upload {
	background-image: url(../lib/upload/img/arrow_up.png) !important;
}

.ux-mu-icon-action-abort {
	background-image: url(../lib/upload/img/cancel.png) !important;
}

.ux-mu-icon-action-remove {
	background-image: url(../lib/upload/img/delete.png) !important;
}

.ux-mu-icon-action-browse {
	background-image: url(../lib/upload/img/folder.png) !important;
}

/*
 * Upload status icons
 */
.ux-mu-icon-upload-ready { /*
    background-image: url(../lib/upload/img/ready.png) !important;
    */
	
}

.ux-mu-icon-upload-uploading {
	background-image: url(../lib/upload/img/loading.gif) !important;
}

.ux-mu-icon-upload-uploaded {
	background-image: url(../lib/upload/img/accept.png) !important;
}

.ux-mu-icon-upload-uploaderror {
	background-image: url(../lib/upload/img/exclamation.png) !important;
}
