.import-data-status {}
.import-data-status.red {color : darkred !important;}
.import-data-status.green {color : darkgreen !important;}
.row-metadata td {background-color : #ffffef !important;}

.x-form-form-item[data-errorqtip*="Veuillez"] .x-grid {border : 1px solid red !important;}

.x-form-invalid-under-default:empty {visibility : hidden;}

.x-form-readonly-noborder .x-form-trigger-wrap-default {border : none !important;}
.x-form-readonly-noborder input {padding-left : 0px !important;}
.x-form-readonly .x-form-trigger-wrap-default.x-form-trigger-wrap-focus  {border-width: 1px; border-style: solid; border-color: #cecece;}

.div-info {color : grey; font-style : italic;}

.x-grid-cell .x-mask-msg-text  {padding: 0px 0px 4px 25px;background-position: 0px 0;}
.x-grid-cell .x-mask-msg  {padding: 4px !important; height : 100% !important;width : 100% !important;left : 0!important;top : 0!important;}

.x-form-form-item>.x-form-item-body {max-width:100% !important; width:100% !important;}
.x-form-layout-wrap {display:block !important;}

.x-form-fieldcontainer {table-layout:fixed}


.x-form-close-trigger{ 
  width: 22px;
  height: 100%;
  background: none;
  color: darkgrey;
  display: table-cell !important;
  vertical-align: middle;
  padding: 0px 5px;
}
