.DescartesButtonPrint {
	background: url("img/icon_print.gif") no-repeat center;
}


/*	Panoramique	*/
.DescartesToolBar .DescartesToolDragPanItemActive { 
	background: url("img/icon_pan_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolDragPanItemInactive { 
	background: url("img/icon_pan_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolDragPanItemDisabled { 
	background: url("img/icon_pan_disabled.png") no-repeat center;
	float:left;
}

/*	Zoom avant	*/
.DescartesToolBar .DescartesToolZoomInItemActive { 
	background: url("img/icon_zoom_in_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolZoomInItemInactive {
	background: url("img/icon_zoom_in_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolZoomInItemDisabled { 
	background: url("img/icon_zoom_in_disabled.png") no-repeat center;
	float:left;
}

/*	Zoom arriere	*/
.DescartesToolBar .DescartesToolZoomOutItemActive {
	background: url("img/icon_zoom_out_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolZoomOutItemInactive {
	background: url("img/icon_zoom_out_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolZoomOutItemDisabled {
	background: url("img/icon_zoom_out_disabled.png") no-repeat center;
	float:left;
}

/*	Zoom vers l'etendue initiale	*/
.DescartesToolBar .DescartesButtonZoomToInitialExtentItemActive {
	background: url("img/icon_zoom_initial_extent_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonZoomToInitialExtentItemInactive {
	background: url("img/icon_zoom_initial_extent_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonZoomToInitialExtentItemDisabled {
	background: url("img/icon_zoom_initial_extent_disabled.png") no-repeat center;
	float:left;
}

/*	Zoom vers l'etendue maximale	*/
.DescartesToolBar .DescartesButtonZoomToMaximalExtentItemActive {
	background: url("img/icon_reset_extent_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonZoomToMaximalExtentItemInactive {
	background: url("img/icon_reset_extent_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonZoomToMaximalExtentItemDisabled {
	background: url("img/icon_reset_extent_disabled.png") no-repeat center;
	float:left;
}

/*	Recentrage par clic	*/
.DescartesToolBar .DescartesToolCenterMapItemActive {
	background: url("img/icon_recenter_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolCenterMapItemInactive {
	background: url("img/icon_recenter_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolCenterMapItemDisabled {
	background: url("img/icon_recenter_disabled.png") no-repeat center;
	float:left;
}

/*	Zoom precedent	*/
.DescartesToolBar .DescartesToolNavigationHistoryPreviousItemActive { 
	background: url("img/icon_history_back_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolNavigationHistoryPreviousItemInactive {
	background: url("img/icon_history_back_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolNavigationHistoryPreviousItemDisabled {
	background: url("img/icon_history_back_disabled.png") no-repeat center;
	float:left;
}

/*	Zoom suivant	*/
.DescartesToolBar .DescartesToolNavigationHistoryNextItemActive { 
	background: url("img/icon_history_forward_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolNavigationHistoryNextItemInactive {
	background: url("img/icon_history_forward_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolNavigationHistoryNextItemDisabled { 
	background: url("img/icon_history_forward_disabled.png") no-repeat center;
	float:left;
}

/*	Mesure de distance	*/
.DescartesToolBar .DescartesToolMeasureMeasureDistanceItemActive {
	background: url("img/icon_measure_length_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolMeasureMeasureDistanceItemInactive {
	background: url("img/icon_measure_length_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolMeasureMeasureDistanceItemDisabled {
	background: url("img/icon_measure_length_disabled.png") no-repeat center;
	float:left;
}

/*	Mesure de surface (+perimetre)	*/
.DescartesToolBar .DescartesToolMeasureMeasureAreaGeoideItemActive {
	background: url("img/icon_measure_area_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolMeasureMeasureAreaGeoideItemInactive {
	background: url("img/icon_measure_area_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolMeasureMeasureAreaGeoideItemDisabled {
	background: url("img/icon_measure_area_disabled.png") no-repeat center;
	float:left;
}

/*	Bandeau	*/
.DescartesToolBar .x-btn-text.DescartesButtonToggleMasquerBandeauItemActive { 
	background: url("img/icon_masque_bandeau_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .x-btn-text.DescartesButtonToggleMasquerBandeauItemInactive { 
	background: url("img/icon_masque_bandeau_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .x-btn-text.DescartesButtonToggleMasquerBandeauItemDisabled { 
	background: url("img/icon_masque_bandeau_disabled.png") no-repeat center;
	float:left;
}

/*	Légende	*/
.DescartesToolBar .DescartesButtonLegendItemActive {
	background: url("img/icon_legend_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonLegendItemInactive {
	background: url("img/icon_legend_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonLegendItemDisabled {
	background: url("img/icon_legend_disabled.png") no-repeat center;
	float:left;
}

/*	Refresh	*/
.DescartesToolBar .DescartesButtonRefreshItemActive {
	background: url("img/icon_refresh_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonRefreshItemInactive {
	background: url("img/icon_refresh_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonRefreshItemDisabled {
	background: url("img/icon_refresh_disabled.png") no-repeat center;
	float:left;
}

/*	Download	*/
.DescartesToolBar .DescartesButtonDownloadItemActive {
	background: url("img/icon_download_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonDownloadItemInactive {
	background: url("img/icon_download_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonDownloadItemDisabled {
	background: url("img/icon_download_disabled.png") no-repeat center;
	float:left;
}

/*	Print	*/
.DescartesToolBar .DescartesButtonPrintItemActive {
	background: url("img/icon_print_active.gif") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonPrintItemInactive {
	background: url("img/icon_print_inactive.gif") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonPrintItemDisabled {
	background: url("img/icon_print_disabled.gif") no-repeat center;
	float:left;
}

/*  Buffer   */
.DescartesToolBar .DescartesButtonBufferItemActive {
    background: url("img/annotation/icon_annotation_buffer_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonBufferItemInactive {
    background: url("img/annotation/icon_annotation_buffer_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonBufferItemDisabled {
    background: url("img/annotation/icon_annotation_buffer_disabled.png") no-repeat center;
    float:left;
}

/*  Tooltips   */
.DescartesToolBar .DescartesButtonToolTipsToolTipsOffItemActive {
    background: url("img/icon_infobulles_off.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonToolTipsToolTipsOffItemInactive{
    background: url("img/icon_infobulles_off.png") no-repeat center;
    float:left;
}

.DescartesToolBar .DescartesButtonToolTipsToolTipsOn1ItemActive {
    background: url("img/icon_infobulles_on_1.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonToolTipsToolTipsOn1ItemInactive {
    background: url("img/icon_infobulles_on_1.png") no-repeat center;
    float:left;
}

.DescartesToolBar .DescartesButtonToolTipsToolTipsOn3ItemActive {
    background: url("img/icon_infobulles_on_3.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonToolTipsToolTipsOn3ItemInactive {
    background: url("img/icon_infobulles_on_3.png") no-repeat center;
    float:left;
}


/* Export KML */
.DescartesToolBar .DescartesButtonExportKMLItemActive {
	background: url("img/icon_export_kml_active.png") no-repeat center;
}
.DescartesToolBar .DescartesButtonExportKMLItemInactive {
	background: url("img/icon_export_kml_inactive.png") no-repeat center;
}
.DescartesToolBar .DescartesButtonExportKMLItemDisabled {
	background: url("img/icon_export_kml_disabled.png") no-repeat center;
}

/* Annotation */
.DescartesToolBar .DescartesToolAnnotationItemActive {
	background: url("img/icon_annotation_active.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolAnnotationItemInactive {
	background: url("img/icon_annotation_inactive.png") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesToolAnnotationItemDisabled {
	background: url("img/icon_annotation_disabled.png") no-repeat center;
	float:left;
}

.DescartesAnnotationUpdateStyleButtonActive {
	background: url("img/annotation/icon_annotation_style_inactive.png") no-repeat center;
}
.DescartesAnnotationUpdateStyleButtonInactive {
	background: url("img/annotation/icon_annotation_style_active.png") no-repeat center;
}
.DescartesAnnotationUpdateStyleButtonDisabled {
	background: url("img/annotation/icon_annotation_style_disabled.png") no-repeat center;
}

.DescartesAnnotationSnappingButtonActive { 
    background: url("img/icon_snapping_active.png") no-repeat center;
}
.DescartesAnnotationSnappingButtonInactivee { 
    background: url("img/icon_snapping_inactive.png") no-repeat center;
}
.DescartesAnnotationSnappingButtonDisabled { 
    background: url("img/icon_snapping_disabled.png") no-repeat center;
}

.DescartesAnnotationDrawPointButtonActive {
	background: url("img/annotation/icon_annotation_point_active.png") no-repeat center;
}
.DescartesAnnotationDrawPointButtonInactive {
	background: url("img/annotation/icon_annotation_point_inactive.png") no-repeat center;
}
.DescartesAnnotationDrawPointButtonDisabled {
	background: url("img/annotation/icon_annotation_point_disabled.png") no-repeat center;
}

.DescartesAnnotationDrawPointAttrButtonActive {
	background: url("img/annotation/icon_annotation_point_attr_active.png") no-repeat center;
}
.DescartesAnnotationDrawPointAttrButtonInactive {
	background: url("img/annotation/icon_annotation_point_attr_inactive.png") no-repeat center;
}
.DescartesAnnotationDrawPointAttrButtonDisabled {
	background: url("img/annotation/icon_annotation_point_attr_disabled.png") no-repeat center;
}

.DescartesAnnotationDrawLineButtonActive {
	background: url("img/annotation/icon_annotation_polyline_active.png") no-repeat center;
	float:left;
}
.DescartesAnnotationDrawLineButtonInactive {
	background: url("img/annotation/icon_annotation_polyline_inactive.png") no-repeat center;
}
.DescartesAnnotationDrawLineButtonDisabled {
	background: url("img/annotation/icon_annotation_polyline_disabled.png") no-repeat center;
}

.DescartesAnnotationDrawLineAttrButtonActive {
	background: url("img/annotation/icon_annotation_polyline_attr_active.png") no-repeat center;
	float:left;
}
.DescartesAnnotationDrawLineAttrButtonInactive {
	background: url("img/annotation/icon_annotation_polyline_attr_inactive.png") no-repeat center;
}
.DescartesAnnotationDrawLineAttrButtonDisabled {
	background: url("img/annotation/icon_annotation_polyline_attr_disabled.png") no-repeat center;
}

.DescartesAnnotationDrawPolygonButtonActive {
	background: url("img/annotation/icon_annotation_polygon_active.png") no-repeat center;
}
.DescartesAnnotationDrawPolygonButtonInactive {
	background: url("img/annotation/icon_annotation_polygon_inactive.png") no-repeat center;
}
.DescartesAnnotationDrawPolygonButtonDisabled {
	background: url("img/annotation/icon_annotation_polygon_disabled.png") no-repeat center;
}

.DescartesAnnotationDrawPolygonAttrButtonActive {
	background: url("img/annotation/icon_annotation_polygon_attr_active.png") no-repeat center;
}
.DescartesAnnotationDrawPolygonAttrButtonInactive {
	background: url("img/annotation/icon_annotation_polygon_attr_inactive.png") no-repeat center;
}
.DescartesAnnotationDrawPolygonAttrButtonDisabled {
	background: url("img/annotation/icon_annotation_polygon_attr_disabled.png") no-repeat center;
}

.DescartesAnnotationMoveAnnotationButtonActive {
	background: url("img/annotation/icon_annotation_move_active.png") no-repeat center;
}
.DescartesAnnotationMoveAnnotationButtonInactive {
	background: url("img/annotation/icon_annotation_move_inactive.png") no-repeat center;
}
.DescartesAnnotationMoveAnnotationButtonDisabled {
	background: url("img/annotation/icon_annotation_move_disabled.png") no-repeat center;
}

.DescartesAnnotationUpdateAnnotationButtonActive {
	background: url("img/annotation/icon_annotation_modify_active.png") no-repeat center;
}
.DescartesAnnotationUpdateAnnotationButtonInactive {
	background: url("img/annotation/icon_annotation_modify_inactive.png") no-repeat center;
}
.DescartesAnnotationUpdateAnnotationButtonDisabled {
	background: url("img/annotation/icon_annotation_modify_disabled.png") no-repeat center;
}

.DescartesAnnotationAddTextButtonActive {
	background: url("img/annotation/icon_annotation_text_active.png") no-repeat center;
}
.DescartesAnnotationAddTextButtonInactive {
	background: url("img/annotation/icon_annotation_text_inactive.png") no-repeat center;
}
.DescartesAnnotationAddTextButtonDisabled {
	background: url("img/annotation/icon_annotation_text_disabled.png") no-repeat center;
}

.DescartesAnnotationUpdateAttrButtonActive {
	background: url("img/annotation/icon_annotation_attr_active.png") no-repeat center;
}
.DescartesAnnotationUpdateAttrButtonInactive {
	background: url("img/annotation/icon_annotation_attr_inactive.png") no-repeat center;
}
.DescartesAnnotationUpdateAttrButtonDisabled {
	background: url("img/annotation/icon_annotation_attr_disabled.png") no-repeat center;
}

.DescartesAnnotationCreateZoneButtonActive {
	background: url("img/annotation/icon_annotation_buffer_active.png") no-repeat center;
}
.DescartesAnnotationCreateZoneButtonInactive {
	background: url("img/annotation/icon_annotation_buffer_inactive.png") no-repeat center;
}
.DescartesAnnotationCreateZoneButtonDisabled {
	background: url("img/annotation/icon_annotation_buffer_disabled.png") no-repeat center;
}

.DescartesAnnotationCreateZoneAllButtonActive {
    background: url("img/annotation/icon_annotation_buffer_all_active.png") no-repeat center;
}
.DescartesAnnotationCreateZoneAllButtonInactive {
    background: url("img/annotation/icon_annotation_buffer_all_inactive.png") no-repeat center;
}
.DescartesAnnotationCreateZoneAllButtonDisabled {
    background: url("img/annotation/icon_annotation_buffer_all_disabled.png") no-repeat center;
}

.DescartesAnnotationExportAnnotationButtonActive {
    background: url("img/annotation/icon_annotation_export_active.png") no-repeat center;
}
.DescartesAnnotationExportAnnotationButtonInactive {
    background: url("img/annotation/icon_annotation_export_inactive.png") no-repeat center;
}
.DescartesAnnotationExportAnnotationButtonDisabled {
    background: url("img/annotation/icon_annotation_export_disabled.png") no-repeat center;
}

.DescartesAnnotationButtonPanel {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10000;
	width:25px;
}

#DescartesSelectScaleForm {
	float:left;
}

#DescartesSelectAreaForm {
	float:left;
}

/*  Informationt */
.DescartesToolBar .DescartesToolInformationItemActive { 
    background: url("img/icon_information_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationItemInactive {
    background: url("img/icon_information_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationItemDisabled { 
    background: url("img/icon_information_disabled.png") no-repeat center;
    float:left;
}

/*  InformationPoint */
.DescartesToolBar .DescartesToolInformationPointItemActive { 
    /* background: url("img/icon_information_active.png") no-repeat center; */
    background: url("img/icon_selection_point_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationPointItemInactive {
    /* background: url("img/icon_information_inactive.png") no-repeat center; */
    background: url("img/icon_selection_point_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationPointItemDisabled { 
    /* background: url("img/icon_information_disabled.png") no-repeat center; */
    background: url("img/icon_selection_point_disabled.png") no-repeat center;
    float:left;
}

/*  InformationRect */
.DescartesToolBar .DescartesToolInformationRectItemActive {
    background: url("img/icon_selection_rectangle_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationRectItemInactive {
    background: url("img/icon_selection_rectangle_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationRectItemDisabled { 
    background: url("img/icon_selection_rectangle_disabled.png") no-repeat center;
    float:left;
}

/*  InformationCircle */
.DescartesToolBar .DescartesToolInformationCircleItemActive { 
    background: url("img/icon_selection_ellipse_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationCircleItemInactive {
    background: url("img/icon_selection_ellipse_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationCircleItemDisabled { 
    background: url("img/icon_selection_ellipse_disabled.png") no-repeat center;
    float:left;
}

/*  InformationUrl */
.DescartesToolBar .DescartesToolInformationUrlItemActive {
    background: url("img/icon_selection_url_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationUrlItemInactive {
    background: url("img/icon_selection_url_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesToolInformationUrlItemDisabled {
    background: url("img/icon_selection_url_disabled.png") no-repeat center;
    float:left;
}

/*  QueryAttributes */
.DescartesToolBar .DescartesButtonQueryAttributesItemActive { 
    background: url("img/icon_query_attributes_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonQueryAttributesItemInactive {
    background: url("img/icon_query_attributes_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonQueryAttributesItemDisabled { 
    background: url("img/icon_query_attributes_disabled.png") no-repeat center;
    float:left;
}

/*  CarmenExportPDF */
.DescartesToolBar .DescartesButtonCarmenExportPDFItemActive { 
    background: url("img/icon_print_pdf_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonCarmenExportPDFItemInactive {
    background: url("img/icon_print_pdf_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonCarmenExportPDFItemDisabled { 
    background: url("img/icon_print_pdf_disabled.png") no-repeat center;
    float:left;
}

/*  CarmenExportPNG */
.DescartesToolBar .DescartesButtonCarmenExportPNGItemActive { 
    background: url("img/icon_print_png_active.gif") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonCarmenExportPNGItemInactive {
    background: url("img/icon_print_png_inactive.gif") no-repeat center;
    float:left;
}
.DescartesToolBar .DescartesButtonCarmenExportPNGItemDisabled { 
    background: url("img/icon_print_png_disabled.gif") no-repeat center;
    float:left;
}

/*	Save / restaure context	*/
.DescartesToolBar .DescartesButtonManageContextItemActive {
	background: url("img/icon_manage_context_active.gif") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonManageContextItemInactive {
	background: url("img/icon_manage_context_inactive.gif") no-repeat center;
	float:left;
}
.DescartesToolBar .DescartesButtonManageContextItemDisabled {
	background: url("img/icon_manage_context_disabled.gif") no-repeat center;
	float:left;
}

/*	Choix de couches WFS decouvertes	*/
.DescartesToolBar .DescartesButtonContentTaskChooseWfsLayersItemActive {
  background: url("img/icon_add_layer_wfs_active.png") no-repeat center;
  float:left;
}
.DescartesToolBar .DescartesButtonContentTaskChooseWfsLayersItemInactive {
  background: url("img/icon_add_layer_wfs_inactive.png") no-repeat center;
  float:left;
}
.DescartesToolBar .DescartesButtonContentTaskChooseWfsLayersItemDisabled {
  background: url("img/icon_add_layer_wfs_disabled.png") no-repeat center;
  float:left;
}


/*  Snapping annotations */
.DescartesToolBar .x-btn-text.DescartesButtonToggleSnappingItemActive { 
    background: url("img/icon_snapping_active.png") no-repeat center;
    float:left;
}
.DescartesToolBar .x-btn-text.DescartesButtonToggleSnappingItemInactive { 
    background: url("img/icon_snapping_inactive.png") no-repeat center;
    float:left;
}
.DescartesToolBar .x-btn-text.DescartesButtonToggleSnappingItemDisabled { 
    background: url("img/icon_snapping_disabled.png") no-repeat center;
    float:left;
}