
@import url("ButtonsAndTools.css");

.DescartesInfoAttributionCarmen {
    right: 3px;
    bottom: 1em;
    display: block;
    position: absolute;
    font-size: x-small;
}


.DescartesImageTooltipDocumentDim{
    width:18px;
    height: 18px;
}

span.legendeBuffer {
	border-style: solid;
	border-width: 2px;
	margin: 0;
	padding: 0;
}

span.legendeBuffer span{
	opacity: 0.3;
}

span.legendeBuffer img{
	width: 14px;
	height: 1px;
}

.DescartesIconDocumentDoc {
    background: url("img/url/icon_doc.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentJpg {
    background: url("img/url/icon_jpg.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentKml {
    background: url("img/url/icon_kml.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentOds {
    background: url("img/url/icon_ods.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentOdt {
    background: url("img/url/icon_odt.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentPdf {
    background: url("img/url/icon_pdf.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentPng {
    background: url("img/url/icon_png.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentPpt {
    background: url("img/url/icon_ppt.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentTxt {
    background: url("img/url/icon_txt.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesIconDocumentXls {
    background: url("img/url/icon_xls.png") no-repeat center;
    float:left;
    width:18px;
    height: 18px;
}

.DescartesUILayersTreeExtJSExtensionQueryable {
	display: none;
}