@CHARSET "UTF-8";
p{
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}
#bannerPanel {
  background-color: #c0c0c0;
}
#bannerPanel_cpt_title {
  margin-top: 10px;
  margin-left: 10px;
  vertical-align : middle;
}
#logo-map > img,
#logo-carmen > img {
  height: 60px;
  margin-right: 10px;
}
#logo-carmen > img {
  float: left;
}
#bannerPanel_cpt_title h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 50px;
  line-height: 0.8em;
  font-family: arial, sans-serif!important;
}
#bannerPanel_cpt_title h2 {
  margin: 0px 0px 0px 3px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1em;
}


#dataPanel, #dataPanel-body{
  border-color:  #b9bebf!important;
}


#dataPanel .x-tab-bar-default-top > .x-tab-bar-body-default{
  background-color:  #b9bebf!important;
}
#topToolbar {
  background-color:  #b9bebf!important;
  border-color:  #b9bebf!important;
  /*background-color:  #000000!important;*/
}

#mainPanel-body{
  background-color: #b9bebf !important;
}

/* div contenant la barre d'outils */
/*#toolbarPanel_toolbar_navigation-innerCt*/
#toolBarPanel
/*toolbarPanel_toolbar_navigation*/ {
  background-color: rgba(150, 150, 150, 0.7)!important;
  -moz-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  padding-left: 4px!important;
}
#toolbarPanel_toolbar_navigation-innerCt .x-btn-inner-default-toolbar-small {
  padding: 0!important;
  font-size: 10px;
}
#menu-grpBtn-measureTool .x-btn-inner-default-small {
  padding: 3px 0px !important;
  font-size: 10px;
}
#menu-grpBtn-measureTool .x-btn-inner-default-small .fa-stack {
  font-size: 1.15em!important;
}

#toolbarPanel_toolbar_navigation-innerCt .x-btn-default-toolbar-small {
  border-color: #d8d8d8;
  background-color: #f5f5f5;
}

div.favoriteAreaSelectIcon i.fa {
  position: absolute;
  top: 5px;
  right: 4px;
}

#leftPanel {
  background-color:  #b9bebf!important;
  border-color:  #b9bebf!important;
}
#leftPanel #leftPanel_header .fa {
  font-size: 2em;
  color: #eee;
}
#leftPanel .x-box-inner {
  width: inherit!important;
}
#leftPanel .x-toolbar-default {
  border: none!important;
}
#leftPanel .x-toolbar-default .x-btn {
  border: 2px solid #c8c8c8;
}
#leftPanel .x-toolbar-default .x-btn .x-btn-inner {
  font-size: 14px;
}
#leftPanel .x-btn-inner-default-toolbar-small {
  padding: 3px!important;
}
  

#attributionPanel #attributionCopyright span{
  
  background-color: rgba(150,150,150,0.7);
  -moz-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  padding: 5px !important;
}
#attributionPanel .x-panel-body-default {
  background-color: transparent;
}

#attributionPanel #logo-map {
  height : 'auto';
  padding-bottom: 5px !important;
}
#logo-map img {
  -moz-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
}
/*#attributionPanel #attributionCopyright {
  white-space: nowrap;
}*/

/**
 *  ExtJS overloading
 */
.x-layout-collapsed-west {
  background-image: url(./../images/navigation.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.x-btn-icon .x-btn-center .x-btn-text {
background-position:center center;
background-repeat:no-repeat;
cursor:pointer;
height:19px !important;
padding:0;
white-space:nowrap;
width:19px !important;
}

.x-table-layout td {
    vertical-align:top;
}
.x-layout-split-north .x-layout-mini {
    height: 8px;
    left: 48%;
    margin-top: 1px;
    width: 70px ;
}

.x-layout-cmini-north .x-layout-mini {
    height: 8px;
    left: 48%;
    margin-top: -2px;
    width: 70px;
}

.olImageLoadError {
    display: none !important;
}

.x-panel-header-default-framed-top{
	background-color:#dee4e6
}

/**
 *  Specific Carmen CSS descriptors 
 */

/* Toolbar buttons */

.x-btn-icon.cmn-tool-addwms {
  background-image: url('../images/AddWMS_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-addwms .x-btn-text {
  background-image: url('../images/AddWMS_ON.gif'); 
}
.x-btn-icon.cmn-tool-addwfs {
  background-image: url('../images/AddWFS_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-addwfs .x-btn-text {
  background-image: url('../images/AddWFS_ON.gif'); 
}
.x-btn-icon.cmn-tool-context {
  background-image: url('../images/Context_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-context .x-btn-text {
  background-image: url('../images/Context_ON.gif'); 
}
.x-btn-icon.cmn-tool-save {
  background-image: url('../images/Save_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-save .x-btn-text {
  background-image: url('../images/Save_ON.gif'); 
}
.x-btn-icon.cmn-tool-printpdf {
  background-image: url('../images/PrintPdf_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-printpdf .x-btn-text {
  background-image: url('../images/PrintPdf_ON.gif'); 
}
.x-btn-icon.cmn-tool-legend {
  background-image: url('../images/Legende_OFF.gif'); 
}
.x-btn-icon.cmn-tool-printnav {
  background-image: url('../images/PrintNav_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-printnav .x-btn-text {
  background-image: url('../images/PrintNav_ON.gif'); 
}
.x-btn-icon.cmn-tool-requete {
  background-image: url('../images/Requete_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-requete .x-btn-text {
  background-image: url('../images/Requete_ON.gif'); 
}
.x-btn-icon.cmn-tool-reload {
  background-image: url('../images/Reload_OFF.png'); 
}
.x-btn-icon.cmn-tool-help {
  background-image: url('../images/Aide_OFF.gif'); 
}
.x-btn-icon.cmn-tool-dnload {
  background-image: url('../images/dnload.gif'); 
}
.x-btn-pressed.cmn-tool-dnload .x-btn-text {
  background-image: url('../images/Telechargement_ON.gif'); 
}
.x-btn-icon.cmn-tool-pan {
  background-image: url('../images/Pan_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-pan .x-btn-text {
  background-image: url('../images/Pan_ON.gif'); 
}

.x-btn-icon.cmn-tool-zoomin {
  background-image: url('../images/ZoomIn_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-zoomin .x-btn-text {
  background-image: url('../images/ZoomIn_ON.gif'); 
}

.x-btn-icon.cmn-tool-zoomout {
  background-image: url('../images/ZoomOut_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-zoomout .x-btn-text {
  background-image: url('../images/ZoomOut_ON.gif'); 
}

.x-btn-icon.cmn-tool-fitall {
  background-image: url('../images/FitAll_OFF.gif')  !important; 
}
.x-btn-pressed.cmn-tool-fitall .x-btn-icon {
  background-image: url('../images/FitAll_ON.gif')  !important; 
}

.x-btn-icon.cmn-tool-info {
  background-image: url('../images/Infos_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-info .x-btn-text {
  background-image: url('../images/Infos_ON.gif'); 
}

.x-btn-icon.cmn-tool-zoomprev {
  background-image: url('../images/ZoomPrec_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-zoomprev .x-btn-text {
  background-image: url('../images/ZoomPrec_ON.gif'); 
}

.x-btn-icon.cmn-tool-infourl {
  background-image: url('../images/InfosURL_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-infourl .x-btn-text {
  background-image: url('../images/InfosURL_ON.gif'); 
}

.x-btn-icon.cmn-tool-surface {
  background-image: url('../images/Surface_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-surface .x-btn-text {
  background-image: url('../images/Surface_ON.gif'); 
}

.x-btn-icon.cmn-tool-mesure {
  background-image: url('../images/Mesure_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-mesure .x-btn-text {
  background-image: url('../images/Mesure_ON.gif'); 
}

.x-btn-icon.cmn-tool-annotate {
  background-image: url('../images/Annotate_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-annotate .x-btn-text {
  background-image: url('../images/Annotate_ON.gif'); 
}

.x-btn-icon.cmn-tool-infocircle {
  background-image: url('../images/InfoCircle_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-infocircle .x-btn-text {
  background-image: url('../images/InfoCircle_ON.gif'); 
}

.x-btn-icon.cmn-tool-infopolygon {
  background-image: url('../images/InfoPolygon_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-infopolygon .x-btn-text {
  background-image: url('../images/InfoPolygon_ON.gif'); 
}

.x-btn-icon.cmn-tool-infopolyline {
  background-image: url('../images/InfoPolyline_OFF.gif'); 
}
.x-btn-pressed.cmn-tool-infopolyline .x-btn-text {
  background-image: url('../images/InfoPolyline_ON.gif'); 
}
.x-btn-icon.cmn-tool-buffer {
  background-image: url('../images/Buffer_Off.gif'); 
}
.x-btn-pressed.cmn-tool-buffer .x-btn-text {
  background-image: url('../images/Buffer_Off.gif'); 
}

.x-btn-icon.cmn-tool-bufferstyle {
  background-image: url('../images/Annotate_style_OFF.gif'); 
}
.x-btn-pressed .cmn-tool-bufferstyle .x-btn-text {
  background-image: url('../images/Annotate_style_OFF.gif'); 
}

.x-btn-icon.cmn-tool-addValue {
  background-image: url('../images/scroll-bottom.gif'); 
}
.x-btn-pressed..cmn-tool-addValue .x-btn-text {
  background-image: url('../images/scroll-bottom.gif'); 
}

.x-btn-icon.cmn-tool-annotationstyle {
  background-image: url('../images/Annotate_style_OFF.gif'); 
}
.x-btn-pressed .cmn-tool-annotationstyle .x-btn-text {
  background-image: url('../images/Annotate_style_OFF.gif'); 
}

.x-btn-icon.cmn-tool-spatialquery {
  background-image: url('../images/Spatial_query_OFF.png'); 
}
.x-btn-pressed.cmn-tool-spatialquery .x-btn-text {
  background-image: url('../images/Spatial_query_ON.png'); 
}

.cmn-tool-stats {
  background-image: url('../images/Statistic_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_style {
  background-image: url('../images/Annotate_style_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_text {
  background-image: url('../images/Annotate_text_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_buffer {
  background-image: url('../images/Buffer_Off.gif'); 
}
.x-btn-icon.cmn-tool-annotate_polygon {
  background-image: url('../images/Annotate_polygon_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_polyline {
  background-image: url('../images/Annotate_polyline_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_point {
  background-image: url('../images/Annotate_point_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_move {
  background-image: url('../images/Annotate_move_OFF.gif'); 
}
.x-btn-icon.cmn-tool-annotate_modify {
  background-image: url('../images/Annotate_modify_OFF.gif'); 
}

/**
 * Carmen Tools icons 
 */
.x-tool-xls {background-image: url(../images/Export_xls_ON.png);}
.x-tool-xls-over {background-image: url(../images/Export_xls_OFF.png);}
.x-tool-csv { background-image: url(../images/Export_csv_ON.png); }
.x-tool-csv-over { background-image: url(../images/Export_csv_OFF.png); }
.x-tool-all { background-image: url(../images/Select_All_ON.gif); }
.x-tool-all-over { background-image: url(../images/Select_All_OFF.gif); }
.x-tool-inv { background-image: url(../images/Select_Inv_ON.png); }
.x-tool-inv-over { background-image: url(../images/Select_Inv_OFF.png); }

/**
 * Carmen Controls
 */

.cmnControlMapserverScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}

.olControlMapserverScale {
    left: 3px;
    bottom: 1em;
    display: block;
    position: absolute;
    font-size: smaller;
}


#referencePanel {
  -moz-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
}

#referencePanel referencePanelMinButton-btnEl {
}


div.cmnReferenceMapElement {
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  background-color:#FFFFFF;
  padding:10px 10px 10px 10px;
}

.cmnReferenceMapExtentRectangle {
  background-image:url(../images/blank.gif);
  border:1px solid red;
  cursor:move;
  overflow:hidden;
}

.cmnControlOverviewMapElement {
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  background-color:#FFFFFF;
  margin-left: 5px;
  margin-top: 5px;
}

.cmnControlOverviewMapExtentRectangle {
  background-image:url(../images/blank.gif);
  border:1px solid red;
  cursor:move;
  overflow:hidden;
}

.cmnControlOverviewMapRectReplacement {
  background-image:url(../images/overview_replacement.gif);
  background-position:center center;
  background-repeat:no-repeat;
  cursor:move;
  overflow:hidden;
}

.cmnControlOverviewMap {
  margin: auto !important;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
}

.areasClass{
  padding: 5px 5px 0px 5px;
  
}


/* Layer tree manager */

.cmnLayerTreeNodeIcon {
  height:12px !important;
  margin:0px !important;
  padding:2px 2px 2px 2px !important;
  vertical-align: middle;
  width:26px !important;
}

.cmnLayerTreeGroupNodeIcon {
  height:0px !important;
  width:0px !important;
}

.cmnLayerTreeLayerNodeIcon {
  //height:10px !important;
  height:auto !important;
  margin:0px !important;
  padding:2px 2px 2px 2px !important;
  vertical-align: baseline !important;
//  vertical-align: middle !important;
  //width:20px !important;
  width:auto !important;
  background-image:none;
  //background-size: cover;
}

.cmnLayerTreeLayerNodeIconContainer {
  height:auto;
  width:180px;
  background-image:none;
  overflow:hidden;
}

.cmnTreeNodeIcon {
  clear:both !important;
}

.cmnLayerTreeLayerNodeMetadata span {
  cursor: pointer !important;
}

.cmnLayerTreeNodeCb {
  margin-left:1px;
  vertical-align:middle !important;
}

.cmnLayerTreeNode a span {
  vertical-align:middle !important;
}

.cmnLayerTreeLayerInfoNodeCb {
  display : hidden;
}

.cmnInfoGridZoomIcon {
  width: 16px !important;
  height: 15px !important;
  margin: auto !important;
}
img.cmnInfoGridZoomIcon {
  background: transparent url(../images/zoomto.gif) no-repeat scroll center !important;
  cursor: pointer;

}
.cmnInfoGridInfoIcon {
  width: 15px !important;
  height: 15px !important;
  margin: auto !important;
  background: transparent url(../images/information.png) no-repeat scroll center !important;
  cursor: pointer;
}

.cmnLayerTreeLayerWMSNodeIcon {
  /*height:10px !important;*/
  padding:2px 0px 0px 2px !important;
  vertical-align: middle !important;
  /*width:20px !important;*/
  overflow:hidden; border:0px solid black; position:relative;
  display : inline;
}
.cmnLayerTreeLayerWMSNodeIcon img {
  width:32px;height:23px;margin-left:-4px;margin-top:-6px;
}

.clipWMS {width:20px; height:10px; overflow:hidden; border:1px solid black; position:relative;}
.clipWMS img{width:32px;height:23px;margin-left:-4px;margin-top:-6px;}

.cmnTreeNodeRightIcon {
  vertical-align: middle;
  padding: 2px;
  width : 15px;
  height : 15px;
}

.cmnImgRenderer img{
  width: 15px !important;
  height: 15px !important;
  margin: auto !important;
  cursor: pointer;
}

/******************************************/
/* ExtJS fileUpload field CSS             */
/******************************************/

// file upload field part
.upload-icon { background: url('image_add.png') no-repeat 0 0 !important; }

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
    position: absolute;
    right: 0;
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}

/****************************************/
/*  Loading styles                      */
/****************************************/

/*
.loading-mask{
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
z-index:20000;
}
.loading{
position:absolute;

left:45%;
top:40%;
padding:2px;
z-index:20001;
height:auto;
}
.loading img {
margin-bottom:5px;
}
.loading-indicator{
background:white;
color:#555;
font:bold 13px tahoma,arial,helvetica;
padding:10px;
margin:0;
text-align:center;
height:auto;
}*/



#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: white;
}

#loading {
  position: absolute;
  left:     50%;
  top:      50%;
  padding:  0px;
  z-index:  20001;
  height:   auto;
  width:    200px;
  margin-left: -100px;
}

#loading .loading-indicator {
  background: url(../images/loading_big.gif) no-repeat;
  background-position: 80px 5px;
  color:      #555;
  font:       bold 16px tahoma,arial,helvetica;
  padding:    36px 0px;
  margin:     0;
  text-align: center;
  height:     auto;
  left:       0px;
}


/****************************************/
/*  ToolTip Control                     */
/****************************************/
.cmnToolTipField {
  font-weight: bold !important; 
}
.cmnToolTipData {
  font-style: italic !important;
}

.cmnToolBar {
  overflow-x: auto !important;
}

/****************************************/
/*  layout                      */
/****************************************/
#navigationPanel {
  top : 15px;
  left: 15px;
}
/*
#referencePanel {
   top: 65px;
  right: 0px;
}
*/ 
/*
#toolPanel {
  top : 30%;
  right: 15px;
}
*/
#toolPanel .x-btn.x-btn-default-small {
    background-color: #797e7f;/*#000;*/
    border-color: #c0c0c0;
    border-radius: 3px;
    border-style: solid;
    border-width: 0px;
    padding: 3px;
    margin-top: 1px;
    box-shadow: none!important;
}
#toolPanel .x-btn.x-btn-default-small:first-child {
    margin-top: 0px;
}
#toolPanel .x-btn.x-btn-menu-active.x-btn-default-small, 
#toolPanel .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #3892d3!important; /*#993323;*/
    border-color: #157fcc!important; /*#aa4434;*/
}

.x-btn-focus.x-btn-menu-active.x-btn-default-small, 
.x-btn-focus.x-btn-default-small, 
.x-btn-focus.x-btn-pressed.x-btn-default-small {
    box-shadow: none!important;
}

#toolPanel .x-panel-body-default {
  background-color: transparent;
}
/* 
.x-menu-default {
    background-color: transparent!important;
    border-color: transparent!important;
    border-style: solid;
    border-width: 0px!important;
}
*/
.x-menu-default {
  background-color: white !important;
  border-color: lightgrey !important;
  border-style: solid;
  border-width: 1px !important;
  box-shadow: 2px 2px 2px lightgrey;
}
.x-menu-body-default {
  background-color: transparent;
}
.x-css-shadow { display:none!important; }

.x-menu-default  .x-btn-default-small {
  background-color: #3892d3!important; /*#993323;*/
  border-color: #157fcc!important; /*#aa4434;*/
  /*border-color: #157fcc!important;*/ /*#aa4434;*/
  border: none!important;
}

.menuBackgroundWhite{
 background-color: white !important;
 border: 1px solid rgb(225,225,225) !important; 
}

.map {
  width: 100%;
  height: 100%;
}

#mapPanel {
}

#mapPanel-body {
}

#locatorButton {
  top: 75px !important;/*35*/
  left: 15px;
}

#dataButton {
  top : 75px !important;/*35*/
  left: 120px;
}

#locatorButton.x-btn.x-btn-default-large, 
#dataButton.x-btn.x-btn-default-large {
    background-color: #3892d3;
    border-radius: 3px;
    /*border-style: solid;
    border-width: 1px;*/
    border: none;
    padding: 3px;
}
#locatorButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#dataButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#locatorButton.x-btn.x-btn-pressed.x-btn-default-large,
#dataButton.x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #000000;
    background-image: none;
    border-color: #000000;
}
#locatorButton.x-btn.x-btn-default-large.x-btn-over, 
#dataButton.x-btn.x-btn-default-large.x-btn-over {
    background-color: #000000!important;
    background-image: none!important;
    border-color: #000000!important;
}

.x-tab.x-tab-active.x-tab-default {
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #fff;
}

.x-tab-over.x-tab-default {
    background-color: #2a6d9e;
    border-color: #2a6d9e;
}
.x-tab-default-top.x-tab-focus.x-tab-active {
    box-shadow: none;
}



#locatorPanel {
  top : 160px;/*130*/
  left: 15px;
}
#dataPanel.dataPanelBottom {
  top : 380px;/*350*/
  left: 15px;
}

#dataPanel.dataPanelTop {
  top : 160px;/*130*/
  left: 15px;
}

#toolbar {
  position: absolute;
  width: 20px;
  height: 100px;
  color: #FFFFFF;
  left:    90%;
  top:      50%;
}
#toolPanel-body{
  border: none;
}

#bottomPanel {
  right:  0;
  bottom: 0px;
  background-color: #eaeaea!important;
  color: #0c0c0c!important;
  font-family: inherit!important;
  font-size: 11px!important;
  //position: fixed!important;
}
#scaleDiv {
  background-color: inherit!important;
  color: inherit!important;
  font-family: inherit!important;
  font-size: inherit!important;
  opacity: 1!important
}
#scaleDiv  a{
  color: inherit!important;
  font-family: inherit!important;
  font-size: inherit!important;
  opacity: inherit!important;
  background-color: transparent!important;
}
.x-btn-inner-default-toolbar-small {
  color: inherit!important;
}

#titlePanel {
  left: 20px;
  top: 20px;
  padding: 0!important;
  height: auto!important;
   width: auto !important;
  max-width: 40% !important;
  -moz-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
  box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.2); 
}
#titlePanel-body {
  /*border-bottom: 2px solid #000 !important;
  border-right: 2px solid #000 !important;*/
  border-bottom-right-radius: 0px;
  /*background-color: rgba(0, 0, 0, 0.8)!important;*/
  height: auto !important;
  width: 100% !important;
}
#titlePanel-outerCt { width: auto !important; }
#titlePanel-innerCt { vertical-align: middle; } 
#titleLabel { 
  font-size: 30px; 
  color:#000; 
  padding:5px 15px !important; 
  display:inline-block !important; 
  line-height:1em !important;
}

.x-tool-img {
    background-image: url("../images/tool-sprites-alkante.png")!important;
    background-color: transparent!important;
    opacity: 1!important;
}

.button_coord {
  background-image: url(../images/coord_btn.png); 
}

.button_scale {
  background-image: url(../images/scale_btn.png); 
}

.olControlAttributionCarmen {
    right: 0px;/*20px;*/
    bottom: 30px;
    display: block;
    position: absolute;
    font-size: x-small;
    background-color: #797e7f!important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px;
    /*opacity: 0.7!important;*/
}

.olControlAttributionCarmen span {
    color: #fff;
    font-size: 0.9em;
    /*font-family: "helvetica,​arial,​verdana,​sans-serif"!important; obedel here*/
}

.button_data_add {
  background-image: url('../images/AddWMS_OFF.gif'); 
}

div .layerTreeNode {
  /*display:inline-block;*/ 
}

.layerTreeNode span{
  white-space: normal;
}

.layerTreeNode .tool {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
}

.layerTreeNode .tool_metadata {
  background-image: url(../images/consulter.gif);
}

.layerTreeNode .tool_download {
  background-image: url(../images/telecharger.gif);
}

.layerTreeNodeNoIcon {
  width: 0px;
}

.rowHidden {
  height: 0px !important;
  padding: 0px !important;
}


/*********************************/
/* test font awesome */
/*********************************/
#locatorButton  i.fa, #dataButton i.fa{
  display:block;
  margin-left: 10px;
}


/*********************/
/* panel / window */
/* background #2a6d9e */
/* border #0f5f99 */
/*********************/

#dataPanel .x-grid-item-selected,
#dataPanel .x-grid-item-over {
    background-color: #f0f0f0;
}
#dataPanel .x-grid-item-focused {
    background-color: #f0f0f0;
}

#dataPanel .x-grid-item-focused .x-grid-cell-inner::before {
    border: none;
}

.x-panel-default, #toolBox {
  /*-moz-box-shadow: 2px 2px 6px 0px #cfcfcf;
  -webkit-box-shadow: 2px 2px 6px 0px #cfcfcf;
  -o-box-shadow: 2px 2px 6px 0px #cfcfcf;
  box-shadow: 2px 2px 6px 0px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=6);
  border: none!important;*/
}


#treePanel_demo-normal-body img.x-action-col-icon {
  background-color: #eee;
  border: 1px solid #ddd;
  margin-right: 4px;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
#treePanel_demo-normal-body img.x-action-col-icon:hover {
  background-color: #fff;
}

.x-window-default {
  border: 1px solid #797e7f;
  -moz-box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.3);
  box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.3);
}

/*
.x-panel-default-outer-border-trl {
    border-left-color: #0f5f99 !important;
    border-right-color: #0f5f99 !important;
    border-top-color: #0f5f99 !important;
}*/
.x-grid-header-ct, .x-grid-body{
  border-color:#cecece !important;
}
.x-panel-default-framed .x-grid-header-ct {
  border-radius: 4px 4px 0px 0px;
}
.x-panel-default-framed .x-grid-body {
  border-radius: 0px 0px 4px 4px;
}
.x-grid-header-ct *{
  background-color : #e9eeef !important;
  color : black !important;
  
}
.x-panel-header-default, .x-window-header-default {
    background-color:  #797e7f;/*#000;*/
    border-width: 0 !important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}

.x-panel-header-title-default {
  color: #fff;
}
.x-column-header-last {
  border-right-width: 1px !important;
}

.x-tab-bar-default {
    background-color: #000; /*#3892d3;*/ /*#2a6d9e;*/
}

/*.x-panel-default-outer-border-rl {
    border-left-color: #000 !important;
    border-right-color: #000 !important;
}*/

.x-panel-default-outer-border-rbl {
    /*border-bottom-color: #0f5f99 !important;
    border-left-color: #0f5f99 !important;
    border-right-color: #0f5f99 !important;*/
}

.x-panel-default-outer-border-trbl {
    border-color: transparent !important;
    border-width: 0 !important;
}

.x-toolbar-footer {
    background-color: transparent;
    border-color: #0f5f99;
}

.x-tab-default {
  border-color: #3892d3; /*#2a6d9e;*/
  cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.x-tab-default-top {
  background-color: #3892d3; /*#2a6d9e;*/
}
.x-tab-inner-default {
  color: white;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
  color: black;
}
.x-tab-bar-default-top > .x-tab-bar-body-default {
  padding-bottom: 0px;
  background-color:  #797e7f;/*#000;*/
}


/****************************/
/* window */
/***************************/
.x-window-header-title-default {
    color: #fff;
}

#infoPanel {
  bottom: 15px;
}
#infoPanel .x-accordion-hd {
    background:#157fcc;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

#infoPanel .x-title-text{
   color:#fff;
}

#infoPanel .x-accordion-layout-ct {
  border:none!important;
}

/* FIX: Correction css ext theme crisp */
.x-accordion-hd {
  background:#797e7f !important; 
  color: white !important;
}

/* FIX: Correction css ext theme crisp */
.x-accordion-hd .x-panel-header-title {
  color: white;
}
/* = disabled nodes
----------------------------------------------- */
.dvp-tree-node-disabled .x-grid-cell {
    -moz-opacity: 0.5;
   opacity:.5;
   filter: alpha(opacity=50);
}

.row0 {
  display: table;
}

.row0_first, .row0_second {
  display: table-cell;
  vertical-align: top;
}
.row0_second {
  width: 100%;
  text-align: left;
  padding-left: 2px;
}
.row0_second .x-tree-node-text{padding-left: 0px !important;}

.row0_first{
  white-space:nowrap;
}
.cmnGroupNode {
  font-weight: bold;
  font-style: italic;
}


span.buttonItem {
  background-color: #797e7f;
}


.x-btn-default-toolbar-small {
  border-color: #d8d8d8;
  background-color: #fff;
}

/*.x-btn-wrap-default-small.x-btn-selector-left*/
.x-btn-wrap-default-small.x-btn-selector-left .x-btn-button:before {
  /*width: 16px;
  padding-right: 16px;
  background-image: url(../images/default-small-arrow-left.png);*/
  
  color: #fff;
  content: "\f0d9";
  font-family: FontAwesome;  
  position: absolute;
  left: 2px;
  top: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: -1px;
  margin-right: -3px;
}

/*.x-btn-wrap-default-small.x-btn-selector-left*/
.x-btn-wrap-default-small.x-btn-selector-bottom .x-btn-button:before {
  /*width: 16px;
  padding-right: 16px;
  background-image: url(../images/default-small-arrow-left.png);*/
  
  color: #fff;
  content: "\f0d7";
  font-family: FontAwesome;  
  position: absolute;
  bottom: 3px;
  left: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: -3px;
  margin-right: -3px;
}

.x-btn-wrap-default-toolbar-small.x-btn-selector-bottom .x-btn-inner-default-toolbar-small .falk-rule:before{
  vertical-align: 0px !important;
}
.x-menu .x-btn-inner-default-small {
  padding: 0px !important;
}
.x-menu .x-btn-inner-default-small .falk-rule:before {
  font-size: 16px !important;
}

.x-btn-wrap-default-toolbar-small.x-btn-selector-bottom .x-btn-button:before {
  /*width: 16px;
  padding-right: 16px;
  background-image: url(../images/default-small-arrow-left.png);*/
  
  color: #000;
  content: "\f0d7";
  font-family: FontAwesome;  
  position: absolute;
  bottom: 3px;
  left: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: -3px;
  margin-right: -3px;
  font-size:18px;
}


.btn-extblack.active,
.btn-extblack:hover, 
.btn-extblack:focus, 
.btn-extblack:active,
.btn-extblack.disabled,
.btn-extblack[disabled],
.btn-extblack{
  color: #fff !important;
  background: #000 !important;
  border-color: #c0c0c0 !important;
}

/* modification visuelle de l'arbre */
.x-tree-checkbox {
    background-image: url("../images/ext_checkbox_black.png");
    height: 15px;
    margin-right: 4px;
    top: 5px;
    width: 15px;
}

.x-tree-arrows .x-tree-expander {
    background-image: url("../images/ext_arrows_black.png");
}

/* Notification specifics */
.msg .x-box-mc {
    font-size:12px;
    line-height:16px;
    font-weight:300;
}
#msg-div {
    position:absolute;
    left:50%;
    top:10px;
    width:250px;
    margin-left:-125px;
    z-index:20000;
}
 .msg, .msg .x-window-header-default {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #3892d3;
    /*border: 2px solid #ccc;*/
    margin-top: 2px;
    padding: 10px 15px;
    color: #FFF ;
    font-family: helvetica, arial, verdana, sans-serif;
}
 .msg .x-box-layout-ct {
 overflow:visible !important;
}
 .msg .x-title-text {
 white-space : normal !important;
}
 .msg .x-window-body-default{
    color: #FFF ;
}
 .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 14px;
}
 .msg p {
    margin: 0;
}

.x-tagfield {text-align:left !important;}
.x-tagfield-input input, .x-tagfield-input div {width:0px !important; text-align:left !important;}

.tagfield-editable .x-tagfield-input input, 
.tagfield-editable .x-tagfield-input div {
  width:200px !important;
}

.field-duplicate-row .x-grid-cell { 
  background-color: #FFE79F;
}

.field-duplicate-x-action {
  background-image: url('/carmenweb/images/plus.png');
}
.field-remove-x-action {
  background-image: url('/carmenweb/images/delete.png');
}


.symbol-preview {
  width : auto;
  text-align : center;
  
}
.symbol-library-view {
  width : auto;
  overflow : auto;
}
.symbol-library-item {
  float: left;
}
.symbol-library-item.x-view-item-focused {
  outline: 1px solid #157fcc!important;
  background-color: #aFdFFF!important;
}
.x-boundlist-item > img{
  vertical-align: top;
  background-color: #ffff00;
  border: 1px solid black;
}
.symbol-library-item > img{
  background-color: #ffff00;
  margin: 5px;
  border: 1px solid black;
}

.colorchooser .x-form-display-field-default,
.colorchooser .x-form-item-body-default{
  min-height : 0px !important;
  margin-top : 0px !important;
}

.trigger-add {
  background: url('/images/add.png') no-repeat 50% 50%;
  background-position: 50% 50% !important;
}

.trigger-remove {
  background: url('/images/delete.png') no-repeat 50% 50%;
  background-position: 50% 50% !important;
}

.trigger-edit {
  background: url('/images/pencil.png') no-repeat 50% 50%;
  background-position: 50% 50% !important;
}

/*
##########################################################################################
  Styles des infos bulles Descartes
##########################################################################################
*/ 

.DescartesToolTip {
  top:0px;
  left:0px;
  position:absolute;
  background-color:#157fcc !important;
  display:none;
  border: 2px solid white;
    -moz-border-radius: 1em 1em 1em 1em;
    z-index:2000;
}

.DescartesToolTip .DescartesToolTipTitle {
  display:block;
  font-weight:bold;
  text-align:center;
  font-family:Arial;
  font-size:12px;
  color:#FFFFFF;
  margin:0px 10px 0px 10px;
}

.DescartesToolTip .DescartesToolTipText {
  font-family:Arial;
  font-size: 11px;
  color:#FFFFFF;
  margin:0px 5px 0px 5px;
}

.DescartesToolTip .DescartesToolTipLien {
  color:#FFFFFF;
  font-weight:normal;
  text-decoration:blink;
}

.cmncontrolpressed {
  background-color: #5dbae5!important;
  border-color: white !important;
}

.x-grid-td {vertical-align : middle !important;}
.x-tree-view .x-grid-td {vertical-align : top !important;}


.DescartesLayersTree {
  width: 30px !important;
  background-repeat : no-repeat !important;
  background-position : 50% 40% !important;
  border : none !important;
  text-align: left !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: -8px !important;
  margin-left: -2px !important;
}
.DescartesLayersTreeLayerByScale:before {
  content: "!" !important;
  color : red;
}

.x-tree-checkbox.DescartesLayersTree{
  background : none !important;
}

.x-grid-header-ct.x-noborder-rl {
  border-right-width: 1px !important;
  border-left-width: 1px !important;
}
.x-grid-body.x-noborder-rbl {
  border-right-width: 1px !important;
  border-left-width: 1px !important;
}
x-grid-header-ct.x-noborder-trl {
  border-right-width: 1px !important;
  border-left-width: 1px !important;
}

.x-colorpreview-color{border:1px solid lightgrey};


/* DRAGDROPTAG [ */
.a-tagfield-highlight.after:after {
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  box-sizing: content-box;
  content: ' ';
  border: 1px solid #77c137;
  right: -4px;
}
.a-tagfield-highlight.before:after {
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  box-sizing: content-box;
  content: ' ';
  border: 1px solid #77c137;
  left: -4px;
}
/* ] DRAGDROPTAG */

.x-panel-default-framed {border-width : 0px !important;}
.x-panel-header-default-framed-top, .x-panel .x-panel-header-default-framed-top {
  border-radius:4px !important; 
  padding:0px !important; 
  width : auto !important;
  border-width: 0px!important;
  margin-bottom: 2px!important;
}
.x-panel-header-default-framed-top .x-box-inner{height : 32px !important;}
.x-panel-header-default-framed-top * {width : auto !important;}
.x-panel-default-framed .x-box-target{position:relative !important; padding:5px !important;}
.x-panel-header-title-default-framed {position:relative !important; padding:5px !important;}

.thumb-wrap{
  float: left;
  margin: 4px 4px 4px 4px;
  text-align : 'center';
  padding: 6px;
}
.thumb-wrap span{
  display:block;
  font-weight : bold;
  text-align : center;
  word-wrap : break-word;
}
.thumb {
  text-align : 'center';
  border: 1px solid #6593CF;
}