body{
background-color:#FFFFFF;
}
.title{
color:#15428B;
font-family:tahoma,arial,verdana,sans-serif;
font-size:16px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:15px;
}

.comment{
color:#000000;
font-family:tahoma,arial,verdana,sans-serif;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
line-height:15px;
}

.copyright{
color:#000000;
font-family:tahoma,arial,verdana,sans-serif;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
line-height:15px;
}

.page {width: 29.7cm; height: 21.0cm;}

body ul{
list-style-type: none !important;
}