
font.titre1 {
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #114F88;
}
font.titre2 {
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #114F88;
}
font.titre3 {
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #114F88;
}
font.titre3B {
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #114F88;
}
font.aliasFiche {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #114F88;
}
font.valeurFiche {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #114F88;
}


table.fiche {
	border: solid 1px #87A6C3;
}
td.fiche {
	border: solid 1px #87A6C3;
	padding: 0px 5px 0px 5px;
}

input.medd {
	background-color: #56779A;
	border: thin solid;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: normal;
	border-color: #FFFFFF #114F88 #114F88 #FFFFFF;
	width: 80;
}

select.medd {
	background-color: #56779A;
	border: thin solid;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: normal;
	border-color: #FFFFFF #114F88 #114F88 #FFFFFF;
}