@font-face {
	font-family: 'font-alkante';
	src:url('fonts/font-alkante.eot?-81ohng');
	src:url('fonts/font-alkante.eot?#iefix-81ohng') format('embedded-opentype'),
		url('fonts/font-alkante.ttf?-81ohng') format('truetype'),
		url('fonts/font-alkante.woff?-81ohng') format('woff'),
		url('fonts/font-alkante.svg?-81ohng#font-alkante') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="falk-"], [class*=" falk-"] {
	font-family: 'font-alkante';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.falk-raster-2:before {
	content: "\e644";
}
.falk-db-postgresql-3:before {
	content: "\e640";
}
.falk-postgresql:before {
	content: "\e641";
}
.falk-db-postgresql-2:before {
	content: "\e642";
}
.falk-globe-vector-2:before {
	content: "\e643";
}
.falk-angle-up:before {
	content: "\e63e";
}
.falk-angle-down:before {
	content: "\e63f";
}
.falk-db-postgresql:before {
	content: "\e63d";
}
.falk-texture:before {
	content: "\e63c";
}
.falk-globe-raster:before {
	content: "\e639";
}
.falk-globe:before {
	content: "\e63a";
}
.falk-globe-vector:before {
	content: "\e63b";
}
.falk-circle:before {
	content: "\e636";
}
.falk-square:before {
	content: "\e637";
}
.falk-rule:before {
	content: "\e638";
  font-size: 1.9333333em !important;
  line-height: .75em !important;
  vertical-align: -14% !important;
}
.falk-raster:before {
	content: "\e633";
}
.falk-vector:before {
	content: "\e634";
}
.falk-hand:before {
	content: "\e635";
}
.falk-bag:before {
	content: "\e622";
}
.falk-bike:before {
	content: "\e623";
}
.falk-bin1:before {
	content: "\e624";
}
.falk-bin2:before {
	content: "\e625";
}
.falk-boat:before {
	content: "\e626";
}
.falk-cogs:before {
	content: "\e627";
}
.falk-container:before {
	content: "\e628";
}
.falk-fenwick:before {
	content: "\e629";
}
.falk-motorbike:before {
	content: "\e62a";
}
.falk-parcel:before {
	content: "\e62b";
}
.falk-suitcase:before {
	content: "\e62c";
}
.falk-tools:before {
	content: "\e62d";
}
.falk-cat:before {
	content: "\e62e";
}
.falk-dog:before {
	content: "\e62f";
}
.falk-miscpet:before {
	content: "\e630";
}
.falk-bike2:before {
	content: "\e631";
}
.falk-abeeway-spoty-move:before {
	content: "\e621";
}
.falk-antenne:before {
	content: "\e611";
}
.falk-abeeway-spoty:before {
	content: "\e610";
}
.falk-battery-20:before {
	content: "\e612";
}
.falk-battery-40:before {
	content: "\e613";
}
.falk-battery-60:before {
	content: "\e614";
}
.falk-battery-80:before {
	content: "\e615";
}
.falk-battery-empty:before {
	content: "\e616";
}
.falk-battery-full:before {
	content: "\e617";
}
.falk-rescue:before {
	content: "\e618";
}
.falk-signal-0:before {
	content: "\e619";
}
.falk-signal-1:before {
	content: "\e61a";
}
.falk-signal-2:before {
	content: "\e61b";
}
.falk-signal-3:before {
	content: "\e61c";
}
.falk-signal-4:before {
	content: "\e61d";
}
.falk-signal-5:before {
	content: "\e61e";
}
.falk-sos:before {
	content: "\e61f";
}
.falk-temperature:before {
	content: "\e620";
}
.falk-sensor2:before {
	content: "\e60f";
}
.falk-sensor3:before {
	content: "\e60e";
}
.falk-sensor:before {
	content: "\e60d";
}
.falk-add-layer:before {
	content: "\e600";
}
.falk-add-layers:before {
	content: "\e601";
}
.falk-arrow-down-o:before {
	content: "\e602";
}
.falk-arrow-up-o:before {
	content: "\e603";
}
.falk-buffer:before {
	content: "\e604";
}
.falk-last-zoom:before {
	content: "\e605";
}
.falk-prev-zoom:before {
	content: "\e632";
}
.falk-point:before {
	content: "\e606";
}
.falk-point-thin:before {
	content: "\e607";
}
.falk-polygon:before {
	content: "\e608";
}
.falk-polyline:before {
	content: "\e609";
}
.falk-projection1:before {
	content: "\e60a";
}
.falk-projection2:before {
	content: "\e60b";
}
.falk-scale:before {
	content: "\e60c";
}
