
<script type="text/javascript" src="/carmenweb/js/descartes/lib/Descartes_3_3-core-min.js"></script>

{# make prod env later
{% if app.environment == 'prod' %}
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/build/Descartes_extension_full.js"></script>
{% else %}#}
    <!-- Extension -->
    <!--script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Core/ToolOverloaded.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Core/ButtonOverloaded.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Core/MapOverloaded.js"></script-->

    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Model/LayerOverloaded.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Model/GroupOverloaded.js"></script>
    <!-- Extension -->
    <!-- Extension -->  
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Model/MapContentOverloaded.js"></script>
    <!-- Extension -->
    <!-- Extension -->
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Button/ContentTaskOverloaded.js"></script>
    <!-- Extension -->
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Model/Layer/Geojson.js"></script>

    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/Core/UtilsOverloaded.js"></script>



    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Tool/MiniMapImage.js"></script>

    <!-- information -->
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/Action/CarmenRequest.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Tool/Information.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Tool/Information/InformationPoint.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Tool/Information/InformationRect.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Handler/Circle.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Tool/Information/InformationCircle.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Tool/Information/InformationUrl.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs/UI/InformationInPlaceExtJS.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/UI/InformationInPlaceExtJS5.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/OpenLayersExtras/RequestWithProgressBar.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Action/ProdigeBuffer.js"></script>
    <!-- tooltip -->
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/Info/ToolTipExtensionExtJS5.js"></script>
    
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/UI/AbstractInPlaceExtJS5.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/UI/ScaleSelectorInPlaceExtJS5.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/UI/ScaleSelectorInPlaceExtJS5Extension.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/UI/LayersTreeExtJS5.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/UI/LayersTreeExtJS5Extension.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/AutoLoader.js"></script>
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/Plugin/Extjs5/MessagesExtJS5.js"></script>
    
    
    <script type="text/javascript" src="/carmenweb/js/descartes-extension/lib/Descartes/ApplicationBack.js"></script>
    {# make prod env later
{%  endif %}#}