<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    {# use stylesheets tag to use assetic
    {% stylesheets filter="scssphp" output="css/app.css"
        "assets/scss/bootstrap.scss"
        "assets/scss/font-awesome.scss"
        "assets/css/*.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    #}
  </head>
  <body>
    <h1>Default template !</h1>
    <p>{{ _self.getTemplateName() }}</p>
    <p><a href="{{ path('carmen_ws_secured') }}">Accéder à une page sécurisée</a></p>
    <p><button type="button" onclick="javascript:go();">Cette URL est générée en Javascript via le composant JsRouting</button></p>
    
    <!-- always put js at the bottom @see https://developer.yahoo.com/blogs/ydn/high-performance-sites-rule-6-move-scripts-bottom-7200.html -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
      function go() {
        var url = Routing.generate('carmen_ws_get_adherents');
        alert(url + 'youhou');
        window.location = url;
      }
    </script>
    {# use javascripts tag to use assetic #}
    {% javascripts filter="?jsqueeze" output="js/app1.js"
        "bundles/carmenweb/js/test.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>