<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <link rel="shortcut icon" href="./favicon.ico" />

    <title></title>
    <!-- FA -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/icomoon/style.css" rel="stylesheet"/>
    <!--link href="vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/-->
    <!--link href="vendor/OpenLayers-2.13.1/theme/default/style.css" rel="stylesheet"/-->

    {# make prod env later {% if app.environment == 'dev' %}#}
    <link href="/vendor/ext-5.1.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/>
    <link href="/vendor/ext-5.1.1-gpl/build/packages/sencha-charts/build/crisp/resources/sencha-charts-all.css" rel="stylesheet"/>
    
    <link href="/vendor/OpenLayers-2.13.1/theme/default/style.css" rel="stylesheet"/>
    <link href="/carmenweb/js/CarmenJS/Carmen/Ext/FileBrowser/css/FileBrowser.css" rel="stylesheet"/>
    <link href="/carmenweb/css/consultation.css" rel="stylesheet"/>
    <link href="/carmenweb/css/font-alkante/font-alkante.css" rel="stylesheet"/>
    {# make prod env later{% endif %}#}
    
    <link href="/carmenweb/js/CarmenJS/Carmen/Ext/colorpick/css/ext-ux-all.css" rel="stylesheet"/>
    <!--link rel="stylesheet" href="/carmenweb/js/descartes-extension/theme/extJS/descartes_full_extjs.css" /-->
    
</head>

<body>

    <!-- Main html squeleton -->
    <div id="main">
    </div>
    <div id="ToolTip"></div>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript" src="{{ asset('vendor/i18next/i18next.min.js') }}"></script>
    <script type="text/JavaScript">
     isAdmin = {{isAdmin}};
    </script>
    <script type="text/JavaScript" src="/parametrages/parametrages.js"> </script>
    {% if app.environment == 'dev' %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all-debug.js"></script>
    <script type="text/javascript">ENVIRONNEMENT='dev';</script>
    {% else %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/ext-all.js"></script>
    <script type="text/javascript">ENVIRONNEMENT='prod';</script>
    {%  endif %}
    
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/build/packages/sencha-charts/build/sencha-charts.js"></script>
    
    {% if app.environment == 'dev' %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp-debug.js"></script>
    {% else %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
    {%  endif %}
    
    <script type="text/JavaScript" src="/vendor/ext-5.1.1-gpl/packages/ext-locale/build/ext-locale-fr.js"></script>
    
    <script type="text/JavaScript">var EXTJS_PATH=function(path){var root = "/vendor/ext-5.1.1-gpl/"; return root+path.replace(root, "");}</script>
    

    <script type="text/JavaScript" src="/carmenweb/js/proj4js/lib/proj4js-compressed.js"></script>
    
    
    <!-- app configuration -->
    <script type="text/JavaScript">
        Ext.ns("Carmen.Util");
        Carmen.Util.WINDOW_WIDTH = 1000;
		    Ext.Ajax.config.withCredentials = true;
		    Ext.data.Connection.prototype.config.withCredentials = true;
		    Ext.data.proxy.Ajax.prototype.withCredentials = true;
        {% if app.environment == 'dev' %}
        Carmen.user = {{ user|replace({"1900":"1500"})|raw }};
        {% else %}
        Carmen.user = {{ user|raw }};
        {% endif %}
        Carmen.config = {{ config|json_encode()|raw }};
        Carmen.Defaults = CDefaults = {{ jsdefaults|json_encode()|raw }};
        Carmen.parameters = {{ parameters|json_encode()|raw }};
        Carmen.carte = {{ carte|json_encode()|raw }};

        var _t = i18n.t;
        // i18next initialisation
        {# make prod env later{% if app.environment == 'dev' %}#}
        i18n.init({
          lng: 'fr',
          fallbackLng: 'fr',
          preload     : ['fr'],
          resGetPath: '/carmenweb/locales/__lng__/translation.json',
          debug : false
        });
        {# make prod env later{%  endif %}#}
    </script>

    <script type="text/JavaScript" src="/carmenweb/js/CarmenJS/Carmen/Ext/IdentifierVType.js"></script>
    <script type="text/JavaScript" src="/carmenweb/js/CarmenJS/Carmen/Ext/FileBrowser/Ext.ux.FileBrowserWindow.js"></script>
    <script type="text/JavaScript" src="/carmenweb/js/CarmenJS/Carmen/Ext/FileBrowser/Ext.ux.FileBrowserPanel.js"></script>
    <script type="text/JavaScript" src="/carmenweb/js/Prodige/InitMap.js"></script>
    
    <script type="text/JavaScript">
        Ext.onReady(function() {
            InitMap('{{ app.session.get('uuid') }}');
        });
    </script>
    {# make prod env later{% else %}#}
{# make prod env later        <script data-main="/carmenweb/js/main_prod" src="/carmenweb/js/require.js"></script>#}
{# make prod env later    {%  endif %}     #}
    
    
</body>
</html>