/* ------------------------------------------
/* STYLE CARMEN
/*------------------------------------------ */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
	text-align: justify;
	font: 10pt arial,helvetica,sans-serif;
	line-height:1.3;
}

body {
    background: url("./img/fond_carmen.png") no-repeat scroll center top transparent;
	border: no border;
}

img {
	border: 0 none;
}

.flt {
    float: left;
}


/* Bandeau */
.top_menu {
	background: url("./img/degrade_barre_sombre.jpg") repeat scroll 0 0 #1D1C19;
	/*background-color:#3A899C;*/
	float: left;
	height: 30px;
	width: 100%;	
  }
  
.menu{
    margin: 0 auto;
    width: 962px;
  }
  
.menu_haut{
    margin: 0 auto;
    width: 962px;
	float: right;
    height: 25px;
    list-style-type: none;
    margin: 0;
    padding-top: 1px;
    text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
    font-size: 10px;
}
  
.menu_haut a, .menu_haut a:hover{
	text-transform: uppercase;
	color: #FFFFFF;
    font-size: 10px;
    text-decoration: none;
  }
  
.bandeau{
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 153px;
	width: 100%;
}

.bandeau_taille {
    margin: 0 auto;
    width: 950px;
}

.bandeau_haut{ 
    border-bottom: 5px solid #D9D9D9;
    float: left;
    height: 115px;
    width: 950px;
}

.bandeau_logo {
	background-color: #FFFFFF;
	float: left;
	width: 220px;
	padding: 20px 0 15px; 
}

.bandeau_logo_dt {
    background-color: #FFFFFF;
    color: #E87B1C;
    float: right;
    font: 8.5pt arial,helvetica,sans-serif;
    margin: 15px 0 0;
    padding-left: 16px;
}


/* Menu horizontal */

.menu_h{
    float: left;
    height: 30px;
    margin: 6px 0 0 1px;
	padding-bottom: 6px;
    width: 93%;
}

.menu_h li {
    /*background: url("./img/single-right-arrow-new.png") no-repeat scroll 3px 8px transparent;*/
    color: #333333;
	text-transform: uppercase;
    float: left;
    font: 12.5px Gibson-Regular,helvetica,arial,sans-serif;
    height: 100%;
    padding-left: 2px;
    padding-right: 18px;
    padding-top: 5px;
    position: relative;
    width: auto;
    z-index: 20;
}

.menu_h li.current a {
    color: #3A899C;
}
.menu_h li a {
    color: #333333;
	/*text-shadow: 1px 2px 3px rgba(100,100,100, 0.5);*/
}

.menu_h li a:hover {
	background-color: #fff;
    color: #3A899C;
	/*-o-box-shadow: 0px 8px 8px 3px #dedede;*/
	/*-moz-box-shadow: 0px 8px 8px 3px #dedede;*/
	/*-webkit-box-shadow: 0px 8px 8px 3px #dedede;*/
	/*box-shadow: 0px 8px 8px 3px #dedede;*/
	border-bottom: 4px solid #3A899C;
}

.menu_h li.on a{
	background-color: #fff;
    color: #3A899C;
	border-bottom: 4px solid #3A899C;
}


/* contenu */

.contenant {		
    margin: 0 auto;
    width: 962px;
}

.fond_ombre {
    background: url("./img/banner-ombre-border.png") repeat-y scroll 0 0 transparent;
    float: left;
    margin-left: 0;
    width: 962px;
}

.image_haut{
	float: left;
    margin-left: 6px;
    margin-top: -11px;
    width: 962px;
}

.page{
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-left: 6px;
    padding: 5px 14px 25px;
    width: 922px;
}

.ariane{
    float: left;
    height: 25px;
    width: 100%;
	color: #878787;
	font-size: 8pt;
	}
		
.contenu{
    float: left;
    margin-top: 10px;
    width: 100%;
	text-align: justify;
	word-wrap: break-word;
	hyphens: auto;
	margin-top: 20px;
}

.intro{
    float: left;
    margin-right: 20px;
    width: 580px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #333333;
}

.intro_p{
	line-height:1.5;
	font-size:10.5pt;
}

.lettrine:first-letter { /* Lettrine */
	font-size:20px;
	font-weight: bold;
	line-height: 200%;
}


.actualites{
    border-left: 1px solid #E1E1E1;
    float: left;
    padding-left: 20px;
    width: 300px;
	margin-bottom: 15px;
}

.actualites li{
	color: #333333;
	margin-top: 5px;
	margin-bottom: 5px;
}

.actus{
	font-size: 11px;
	color: #878787;
}

.actus_2{
	color: #878787;
}

.zoom{
    border-top: 1px solid #E1E1E1;
    margin: 15px;
	float: left;
	clear: both;
}

.zoom_bloc{
	/*background-color: pink;*/
    margin: 15px 12px 15px 12px;
	padding: 5px 5px 5px 0px;
	float: left;
	clear: right;	
	width: 192px;
	/*border-right: 1px solid #E5E5E5;*/
}

.mentions{
	border-bottom: 6px solid #D9D9D9;
    border-top: 2px solid #E7E7E7;
    float: left;
    height: 25px;
    margin-left: 10px;
	padding-top: 5px;
    width: 900px;
	color: #878787;
	font-size: 8pt;
}

.mentions a{
	color:#333333;
	text-decoration:none;
	background-color: rgba(255, 255, 255, 0);	
}

.pied{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 130px;
    margin-left: 15px;
	padding-top: 15px;
    width: 911px;
	text-align: center;
}

.lire_suite{
	color: #434343;
	font-weight:bold;
}

#ssmenu{
	border-bottom: 1px solid #D6D6D6;
    float: left;
    font-family: 'Arial',Verdana,sans-serif;
    font-size: 14px;
    margin-right: 20px;
    padding-bottom: 10px;
    width: 187px;
}

#rubrique{
    float: left;
    width: 700px;
}

.contenu_bas{
    float: right;
    width: 700px;
	margin : 30px 15px 15px 0px;
	padding-top: 10px;
	border-top: 1px solid #E1E1E1;
	text-align: right;
}

.contenu_bas_ps{
    float: right;
    width: 700px;
	margin : 30px 15px 15px 0px;
	padding-top: 10px;
	border-top: 1px solid #E1E1E1;
	text-align: right;
}

#article{
    float: left;
    width: 700px;
	min-height: 250px;
	padding-bottom: 20px;
}

.article_p{
	line-height:1.5;
	font-size:10.5px;
}

.rechercher{
    float: left;
    width: 700px;
	min-height: 100px;
	padding-bottom: 20px;
}

.search_text{ /* fenetre de recherche */
	background-color: white;
    border: 1px solid #DCDCDC;
    font-family: "Gibson-Regular",Verdana,sans-serif;
    height: 20px;
    padding: 0 27px 0 6px;
    position: relative;
    width: 214px;
}

.submit{
	min-width: 20px;
	height: 22px; 
	/*padding-left: 20px; */
	background-color: grey;
	border: 1px solid #DCDCDC;
	color: black;
	text-align:center;
}

.floatL{
	float: left;
}

.floatR{
	float: right;
}

/* Texte et lien */

h1{
	font-size: 18px;
	font-weight: bold;
	color:#3A899C;
	text-transform: uppercase;
}

h3{
	font-size: 14px;
	font-weight: 550;
	color:#3A899C;
	text-transform: uppercase;
}

h4{
	font-size: 14px;
	font-weight: bold;
	color:#333333;
	text-transform: uppercase;
}
h5{
	font-size: 14px;
	font-weight: bold;
	color:#93BE40;
	text-transform: uppercase;
}

body a, body a:hover{ 
	color:#3A899C;
	text-decoration:none;
	background-color: rgba(255, 255, 255, 0);	
}

body a:hover{ 
 text-shadow: 2px 2px 1px #DCDCDC;
}

body a:visited, body a:link{
	text-decoration:none;
	background-color: rgba(255, 255, 255, 0);	
}
		
.on { 
 color: #333333;
 /*text-shadow: 3px 3px 4px #aaa;*/
 /*font-weight: bold;*/;
 }

.actualites a, .contenu_bas a, .list_fleche {
	background: url("../img/puce_carmen.gif") no-repeat scroll 0 2px transparent;
    color: #3A899C;
    font-weight: 550;
    padding-left: 30px;
    text-decoration: none;
	text-align: left;
}

.listrub{
	text-align: left;
	/*color: #333333;*/
	font-weight: 550;
	color: rgb(147, 190, 64);
	padding-left: 5px;
	padding-top: 10px;	
}

.listcarre, .listcarre a:visited{
	text-align: left;
	padding-left: 15px;
	padding-top: 5px;
	background: url("../img/puce_carre.png") no-repeat scroll 6px 11px transparent;	
}

.listcarre a{
	color: #878787;
}

.arub, .arub:hover{
    color: #3A899C;
    font-size: 14px;
    font-weight: 550;
	text-transform: uppercase;
}

.date_actu{
	color: rgb(147, 190, 64);
	font-size: 10px;
	font-style:italic;
	padding-left: 30px;
}

.date{
	color: rgb(147, 190, 64);
	font-size: 10px;
	font-style:italic;
}

.notes{
	font-size: 9px;
	font-style: italic;
	color: #878787;
}


.obligatoire{
	color: rgb(236, 143, 42);
	font-size: 10px;
	font-style:italic;
}
