<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carmen : liste des carte(s) publiée(s)</title>
    <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- <link href="/carmenweb/css/catalogue/carmen.css" rel="stylesheet"/> -->
    <style type="text/css">
      .form-group {
        margin-bottom: 0px;
      }
      .padding5 {
        margin: 5px 20px;
      }
      .opener {
        margin-left: -15px;
        float: left;
        top: 2px;
        position: relative;
        cursor: pointer;
      }
      .table {
        margin-bottom: 0px;
      }
      .map {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      h1 {
        color: #93BE40;
      }
      h2, h3, h4, h5, h6 {
        color: #3A899C;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      html {
        background: transparent url("/carmenweb/css/catalogue/img/fond_carmen.png") no-repeat scroll center -300px;
      }
      body {
        box-shadow: 0px 0px 50px 10px #cfcfcf;
        background: white;
      }
      body, p, td, blockquote, ul, li, ol, img {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9pt;
      }
      i {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
      }
      b {
        color: #678a9e;
        font-size: 10pt;
        font-family: Helvetica, Arial, Geneva, Swiss, SunSans-Regular
      }
    </style>
</head>
<body class="container">
    <h1 class="page-header">Catalogue des cartes</h1>
    <form class="well well-sm form-horizontal" name="MotsclesCatalogue" id="MotsclesCatalogue" method="POST" action="">
      <div class="form-group">
        <label for="collections" class="col-sm-2 control-label">Recherche par</label>
        <div class="col-sm-10">
          <select class="form-control input-sm" name="collections" id="collections" width="250px" style="width:250px;" onchange="init_reload();">
            <option value="-1">Tout type de mots-clés</option>
            {% for category in categories %}
            <option value="{{ category.categoryId }}" {{ category.categoryId==categoryId ? 'selected' : '' }}>{{ category.categoryName }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="concepts" class="col-sm-2 control-label">Mot-clé</label>
        <div class="col-sm-10">
          <select class="form-control input-sm" name="concepts" id="concepts" width="250px" style="width:250px;" onchange="reload();">
            <option value="-1">Aucune restriction</option>
            {% for keyword in keywords %}
            <option value="{{ keyword.keywordId }}" {{ keyword.keywordId==keywordId ? 'selected' : '' }}>{{ keyword.keywordName }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
    <div class="service">
    {% if account %}
      <div class="page-header">
        <h4>{{ account.accountName }}, (n°: {{ account.accountId }}) : liste de(s) carte(s) publiée(s)
          <div class="pull-right">
            <button id="btnOpenAll" class="btn btn-xs btn-default"><i class="fa fa-plus-square-o"> Ouvrir tout</i></button>
            <button id="btnCloseAll" class="btn btn-xs btn-default"><i class="fa fa-minus-square-o"> Fermer tout</i></button>
          </div>
        </h4>
      </div>
      <div class="service-info">
        <ul>
          <li>{{ allMaps }} carte(s) réalisée(s)</li>
          <li>{{ pubMaps }} carte(s) publiée(s)</li>
          <li>{{ wmsMaps }} carte(s) diffusant Wms image</li>
          <li>{{ wfsMaps }} carte(s) diffusant Wfs vecteur</li>
        </ul>
      </div>
      {% for map in maps %}
      <div class="map padding5">
        <i class="opener opened fa fa-minus-square-o"></i>
        {% set urlMap = account.accountDns ? account.accountDns.dnsScheme~'://'~account.accountDns.dnsPrefixFrontoffice~'.'~account.accountDns.dnsUrl~'/'~ accountId~'/'~map.mapFile~'.map' : '#' %}
        <div class="map-title"><h5><a target="_blank" href="{{ urlMap }}">{{ map.mapTitle|default('') }}</a></h5></div>
        <div class="map-info">Fichier : {{ map.mapFile|default('') }}, Date : {{ map.mapDatepublication|default('')|date('d/m/Y H:i:s') }}, Projection : {{ map.mapProjectionEpsg ? 'EPSG:'~map.mapProjectionEpsg.projectionEpsg : '' }}</div>
        <div class="map-content closable">
        {% set layersType = {'WMS':'layerWms', 'WFS':'layerWfs'} %}
        {% for type, attr in layersType %}
          {% set layers = [] %}
          {% for layer in map.layers if attribute(layer, attr)  %}
            {% set layers = layers|merge([layer]) %}
          {% endfor %}
          {% if layers|length > 0 %}
            <div class="source source-{{ type }} padding5">
              <i class="opener opened fa fa-minus-square-o"></i>
              {% set msMap = mapserver['map'][map.mapId]['info'] ? mapserver['map'][map.mapId]['info'] : [] %}
              {% set query = [
                'REQUEST=getmap',
                'layers='~ msMap['name']|default(''),
                'BBOX='~map.mapExtentXMin~','~map.mapExtentYMin~','~map.mapExtentXMax~','~map.mapExtentYMax,
                'SRS=epsg:'~(map.mapProjectionEpsg ? map.mapProjectionEpsg.projectionEpsg : ''),
                'FORMAT=image/png',
                'WIDTH=400',
                'HEIGHT=400'
              ] %}
              {% set url = account.accountDns ? account.accountDns.dnsScheme~'://'~account.accountDns.dnsPrefixData~'.'~account.accountDns.dnsUrl~'/'~type~'/'~accountId~'/'~map.mapFile~'?'~query|join('&') %}
              <div class="{{ type }}-title"><h5>Source {{ type }}{% if type == 'WMS' %}, [<a target="_blank" href="{{ url }}" target="_blank">Aperçu</a>]{%endif%}</h5></div>
              {% set url = account.accountDns ? account.accountDns.dnsScheme~'://'~account.accountDns.dnsPrefixData~'.'~account.accountDns.dnsUrl~'/'~type~'/'~accountId~'/'~map.mapFile~'?' %}
              <div class="{{ type }}-info">{{ url }}</div>
              <div class="layers closable padding5">
                <i class="opener opened fa fa-minus-square-o"></i>
                <div class="layers-title"><h6>{{ layers|length }} couche(s) publiée(s) en {{ type }}</h6></div>
                <div class="layers-content closable padding5">
                  <table class="table table-condensed table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Titre</th>
                        <th>Echelle min.</th>
                        <th>Echelle max.</th>
                     {# <th>SRS</th> #}
                        {% if type == 'WMS' %}
                        <th>Format(s)</th>
                        <th class="text-center">Aperçu</th>
                        {% else %}
                        <th>Champ(s) publié(s)</th>
                        <th>Étendue</th>
                        <th class="text-center">Description GML</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                    {% for layer in layers %}
                      {# {% set msLayer = mapserver['map'][map.mapId]['layers'][layer.layerId] ? mapserver['map'][map.mapId]['layers'][layer.layerId] : [] %}#}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ layer.layerName }}</td>
                        <td>{{ layer.layerTitle }}</td>
                        <td>{% if layer.layerMinscale != 0 %}{{ layer.layerMinscale }}{% else %} - {% endif %}</td>
                        <td>{% if layer.layerMaxscale != 0 %}{{ layer.layerMaxscale }}{% else %} - {% endif %}</td>
                        {#<td>
                          {% set srs = msLayer['geoide_wms_srs'] | default('') %}
                          {% if srs != '' %} 
                            {% set srs = srs|split(' ') | default('') %}
                            <ul>
                            {% for s in srs %}<li>{{ s }}</li>{% endfor %}
                            </ul>
                          {% else %} - {% endif %}
                        </td>#}
                        {% if type == 'WMS' %}
                        <td> - {# format #}</td>
                        <td class="text-center">
                          {% set query = [
                            'REQUEST=getmap',
                            'layers='~ layer.layerName|default(''),
                            'BBOX='~map.mapExtentXMin~','~map.mapExtentYMin~','~map.mapExtentXMax~','~map.mapExtentYMax,
                            'SRS=epsg:'~(map.mapProjectionEpsg ? map.mapProjectionEpsg.projectionEpsg : ''),
                            'FORMAT=image/png',
                            'WIDTH=400',
                            'HEIGHT=400'
                          ] %}
                          {% set url = account.accountDns ? account.accountDns.dnsScheme~'://'~account.accountDns.dnsPrefixData~'.'~account.accountDns.dnsUrl~'/'~type~'/'~accountId~'/'~map.mapFile~'?'~query|join('&') %}
                          [<a target="_blank" href="{{ url }}">Voir la couche « {{ layer.layerTitle }} »</a>]
                        </td>
                        {% else %}
                        <td>
                          {% set items = layer.fields | default('') %}
                          {% if items != '' %} 
                            <ul>
                            {% for i in items %}
                              {% if i.fieldOgc == true %}
                                <li>{{ i.fieldName }}</li>
                              {% endif %}  
                            {% endfor %}
                            </ul>
                          {% else %} - {% endif %}
                        </td>
                        <td>
                          <ul>
                            <li>Min x : {{ map.mapExtentXMin }}</li>
                            <li>Min y : {{ map.mapExtentYMin }}</li>
                            <li>Max x : {{ map.mapExtentXMax }}</li>
                            <li>Max y : {{ map.mapExtentYMax }}</li>
                          </ul>
                        </td>
                        <td class="text-center">
                          {% set query = [
                            'REQUEST=describefeaturetype',
                            'typename='~layer.layerName
                          ] %}
                          {% set url = account.accountDns ? account.accountDns.dnsScheme~'://'~account.accountDns.dnsPrefixData~'.'~account.accountDns.dnsUrl~'/'~type~'/'~accountId~'/'~map.mapFile~'?'~query|join('&') %}
                          [<a target="_blank" href="{{ url }}">Voir</a>]</td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-danger">
        Le compte n°{{ accountId }} n'existe pas.
      </div>
    {% endif %}
    </div>
    <script type="text/javascript">
    $(function(){
      // search controls
      $('#collections, #concepts').change(function(){ $('#MotsclesCatalogue').submit(); });
      $('#concepts').change(function(){ $('#MotsclesCatalogue').submit(); });
      
      var close = function($obj){
        if( $($obj).hasClass('opened') ) {
          // close content
          $($obj).parent().find('.closable:first').hide();
          $($obj).removeClass('opened').addClass('closed');
          $($obj).removeClass('fa-minus-square-o').addClass('fa-plus-square-o');
        }
      };
      var open = function($obj){
        if( $($obj).hasClass('closed') ) {
          // open content
          $($obj).parent().find('.closable:first').show();
          $($obj).removeClass('closed').addClass('opened');
          $($obj).removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
        }
      };
      $('.opener').click(function(){
        if( $(this).hasClass('opened') ) {
          close($(this));
        } else {
          open($(this));
        }
      });
      $('.map > .opener').each(function(i,e){ open(e); });
      $('.source > .opener').each(function(i,e){ open(e); });
      $('.layers > .opener').each(function(i,e){ close(e); });
      function openAll() {
        $('.opener').each(function(i,e){ open(e); });
      }
      function closeAll() {
        $('.opener').each(function(i,e){ close(e); });
      }
      $('#btnOpenAll').click(openAll);
      $('#btnCloseAll').click(closeAll);
    });
    </script>
</body>
</html>