{##
 # Write the tree properties for MapGroup and Layers data of the map  
 # @param array  tree     An array that contents tree nodes. Children are listed in node.childs sub-array 
 # @param string treeType The tree type : ui|print 
 # @param string format   The output format : json|ows 
 # @param int    level    The level crossing. Start with 0
 # @dependencies [_self.getTreeNodeLayer, _self.getTreeNodeGroup]
 #}
{% macro getLayerTree(tree, format, level, external_context) %} {# bootstrap #}
{% set firstLoop=true %}
{% apply spaceless %}
{% if level==0 and tree|length ==0 %} { LayerTreeNode : {attributes : {}}{% endif %}
{% if level==0 and tree|length > 1 %} [ {% endif %}
  {% for node in tree  %}
    {% if node.nodeIsLayer %}
      {% if format|lower == "geojson" %}
        {% if (firstLoop) %}
          {% set firstLoop=false %}
        {% else %}
          ,
        {% endif %}
      {% endif %}
      {{ _self.getTreeNodeLayer(node, format, level, external_context) }}
    {% else %}
      {% if format|lower == "geojson" %}
        {% if (firstLoop) %}
          {% set firstLoop=false %}
        {% else %}
          ,
        {% endif %}
      {% endif %}
      {{ _self.getTreeNodeGroup(node, format, level, external_context) }}
    {% endif %}
    {% if format|lower == "json" and not loop.last %},{% endif %}
  {% endfor %}
{% if level==0 and tree|length > 1 %} ] {% endif %}
{% if level==0 and tree|length ==0 %} } {% endif %}
{% endapply %}
{% endmacro %}

{##
 # Write a MapGroup node in tree  
 # @param array  node   The node description. Children are listed in node.childs sub-array 
 # @param string treeType The tree type : ui|print 
 # @param string format The output format : json|ows 
 # @param int    level  The level crossing. Start with 0
 # @dependencies [_self.getLayerTree]
 #}
{% macro getTreeNodeGroup(node, format, level, external_context) %} {# bootstrap #}
{% apply spaceless %}
  {% set group = node.object %}
  {% if format|lower == "json" %}{
         "LayerTreeNode": {
            "attributes": {
              "type": "group",
              "nodeId": "{{ node.nodeId }}",
              "name": "{{ group.groupName|e('url') }}",
              {% if not group.groupIdentifier == ""  %}
              "groupIdentifier" : "{{ group.groupIdentifier }}",
              {% endif %}
              "open": "{{ node.nodeOpened|ZERO_ONE }}",
              "expanded": {% if node.nodeOpened %}true{% else %}false{% endif %},
              "visible": "{{ node.visible|ZERO_ONE }}",
              "depth": "{{ node.nodeDepth }}",
              "opacity": "1",
              "forceOpacityControl": "1"
            }
            {% if node.childs|length > 0 %}
            ,
            "LayerTreeNode": [
              {{ _self.getLayerTree(node.childs, format, level+1, external_context) }}
            ]
            {% endif %}
         }
       }
  {% elseif format|lower == "geojson" %}
    {
      "class": "LayerGroup",
      "options": {
        "opacity":1,
        "visible": "{{ node.visible|TRUE_FALSE }}"
      },
      "extension":{
        "id":"{{ node.nodeId }}",
        "name": {{ group.groupName|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
        "open":{{ node.nodeOpened|TRUE_FALSE }}
      }
      {% if node.childs|length > 0 %}
        ,"layers": [
          {{ _self.getLayerTree(node.childs, format, level+1, external_context) }}
        ]
      {% endif %}
    }
  {% else %}
           <LayerTreeNode
             type="group"
             nodeId="{{ node.nodeId }}"
             name="{{ group.groupName }}"
             open="{{ node.nodeOpened|ZERO_ONE }}"
             expanded="{% if node.nodeOpened %}true{% else %}false{% endif %}"
             visible="{{ node.visible|ZERO_ONE }}"
             depth="{{ node.nodeDepth }}"
             opacity="1"
             forceOpacityControl="1"
           >

    {% if node.childs|length > 0 %}
        {{ _self.getLayerTree(node.childs, format, level+1, external_context) }}
    {% endif %}

           </LayerTreeNode>
  {% endif %}
{% endapply %}
{% endmacro %}

{##
 # Write a Layer node in tree  
 # @param array  node   The node description 
 # @param string format The output format : json|ows 
 # @param int    level  The level crossing. Start with 0
 #}
{% macro getTreeNodeLayer(node, format, level, external_context) %} {# bootstrap #}
{% apply spaceless %}
  {% set layer = node.object %}
  {% if format|lower == "json" %}
            {
              "attributes": {
                "type": "layer",
                "nodeId": "{{ node.nodeId|e('url') }}",
                "layerId": "{{ layer.layerId|e('url') }}",
                "layerIdx": "{{ layer.layerIdx|e('url') }}",
                "name": "{{ layer.layerTitle|e('url') }}",
                "mapName": "{{ layer.layerMsname|e('url') }}",
                "visible": "{{ layer.layerVisible|ZERO_ONE }}",
                "displayClass": "{{ layer.layerLegend|ZERO_ONE }}",
                "providerGrpId": "{{ node.nodeParent|e('url') }}",
                "depth": "{{ node.nodeDepth }}",
                "opacity": "{{ layer.layerOpacity / 100 }}",
                "forceOpacityControl": "1"
              }
            }

  {% elseif format|lower == "geojson" %}
    {% set layerSettings_infoFields="" %}
    {% set layerSettings_briefFields="" %}
    {% set layerSettings_ToolTipFields="" %}
    {% set firstHeader=true %}
    {% set firstQueries=true %}
    {% set firstTooltips=true %}

    {% if layer.layerProjectionEpsg is not null %}
      {% set layerProjectionEpsg = layer.layerProjectionEpsg.projectionProvider ~ ':' ~ layer.layerProjectionEpsg.projectionEpsg %}
    {% else %}
      {% set layerProjectionEpsg = 'EPSG:2154' %}
    {% endif %}

    {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS', 'GEOJSON', 'TILE_VECTOR'] %}
      {% set externalLayer = true %}
      {% set mapName = '' %}
      {% if layer.layerType.layerTypeCode in ['WMS'] %}
        {% set layerType = 'ImageLayer'%}
        {% set layerSource = 'ImageWMS'%}
        {% set layerName = layer.layerWxsname %}
        {% set layerUrl = layer.layerServerUrl %}
        {% if '?' in layerUrl  %}
          {% if '&' in layerUrl  %}
            {% set wsUrlGetLegendGraphic = layer.layerServerUrl ~ '&FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerWxsname%}
          {% else %}
            {% set wsUrlGetLegendGraphic = layer.layerServerUrl ~ 'FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerWxsname%}
          {% endif %}
        {% else %}
          {% set wsUrlGetLegendGraphic = layer.layerServerUrl ~ '?FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerWxsname%}
        {% endif %}    
      {% elseif layer.layerType.layerTypeCode in ['WMSC'] %}
        {% set layerType = 'TileLayer'%}
        {% set layerSource = 'TileWMS'%}
        {% set layerName = layer.layerWxsname %}
        {% set layerUrl = layer.layerServerUrl %}

        {% set wsUrlGetLegendGraphic = external_context.accountUrlFront ~ '/assets/img/default.jpg' %}
      {% elseif layer.layerType.layerTypeCode in ['WMTS'] %}
        {% set layerType = 'TileLayer'%}
        {% set layerSource = 'WMTS'%}
        {% set layerName = layer.layerTiledLayer %}
        {% set layerUrl = layer.layerServerUrl %}
        {% set wsUrlGetLegendGraphic = external_context.accountUrlFront ~ '/assets/img/default.jpg' %}
      {% elseif layer.layerType.layerTypeCode in ['GEOJSON'] %}
        {% set externalLayer = false %}
        {% set layerType = 'VectorLayer'%}
        {% set layerSource = 'Cluster'%}
        {% set layerName = layer.layerMsName %}
        {% set layerUrl =  external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName() %}
        {% set wsUrlGetLegendGraphic = external_context.accountUrlFront ~ '/assets/img/default.jpg' %}
      {% elseif layer.layerType.layerTypeCode in ['TILE_VECTOR'] %}
        {% set externalLayer = false %}
        {% set layerType = 'TileVector'%}
        {% set layerSource = 'MVT'%}
        {% set layerName = layer.layerMsName %}
        {% set layerUrl = layer.layerServerUrl %}
        {% set wsUrlGetLegendGraphic = external_context.accountUrlFront ~ '/assets/img/default.jpg' %}
      {% endif %}
    {% else %}
        {% set externalLayer = false %}
        {% set layerType = 'ImageLayer'%}
        {% set layerSource = 'ImageWMS'%}
        {% set layerName = layer.layerMsName %}
        {% set mapName = external_context.map.getMapfileName() %}
        {% set layerUrl = external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName() %}
        {% if external_context.externalLegendLayers[layer.layerMsname] is defined %}
          {% set wsUrlGetLegendGraphic = external_context.externalLegendLayers[layer.layerMsname].external_url %}
        {% else %}
          {% set wsUrlGetLegendGraphic = external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName() ~'?FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerMsName%}
        {% endif %}    
    {% endif %}

    {% set hasTooltip = false %}
    {% for field in layer.fields %}
    {% set fieldSerialize=field.fieldName ~ "|" ~ field.fieldAlias ~ "|" ~ field.fieldTypeJs ~ "|" ~ field.fieldUrl ~ "|1" %}
    {% set hasTooltip = field.fieldTooltips or hasTooltip %}

    {% if field.fieldHeaders %}
      {% if firstHeader %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstHeader=false %}
      {% set layerSettings_briefFields=layerSettings_briefFields ~ separator ~ fieldSerialize %}
    {% endif  %}

    {% if field.fieldQueries %}
      {% if firstQueries %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstQueries=false %}
      {% set layerSettings_infoFields=layerSettings_infoFields ~ separator ~ fieldSerialize %}
    {% endif  %}

    {% if field.fieldTooltips %}
      {% if firstTooltips %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstTooltips=false %}
      {% set layerSettings_ToolTipFields=layerSettings_ToolTipFields ~ separator ~ fieldSerialize %}
    {% endif  %}

    {% endfor %}

    {
      "id":"{{ node.nodeId }}",
      "class" : "{{layerType}}",
      "options" : {
        "opacity":{{ layer.layerOpacity / 100 }},
        "visible":{{ layer.layerVisible|TRUE_FALSE }},
        "source": {
          "class":  "{{layerSource}}",
          "options": {
            "url": "{{layerUrl|raw}}",
            {% if layerSource == 'WMTS' %}
            "layer" : "{% if layer.layerTiledLayer is not null and not layer.layerTiledLayer=="" %}{{ layer.layerTiledLayer }}{% else %}{{ layer.layerWxsName }}{% endif %}",
            "matrixSet" : "{{layer.layerWmtsTileset}}",
            "format": "{{layer.layerOutputformat}}",
            "style": "{{layer.layerWmtsStyle}}",
            "tileGrid" : {
              "class":  "WMTSTileGrid",
              "options" : {
                "origins": [[{{ layer.layerWmtsTileorigin|replace({' ': '],['})|raw }}]],
                "resolutions": [{{ layer.layerTiledResolutions|replace({' ': ','}) }}],
                "matrixIds": ["{{ layer.layerWmtsMatrixids|replace({' ': '","'})|raw }}"]
              }

            },
            "params": {
              "LAYERS": "{{layerName}}"
            }
            {% else %}
            "params": {
              "LAYERS": "{{layerName}}",
              "EXCEPTIONS": "inimage"
            }
            {% endif %}
          }
        }
      },
      "extension" :{
        "externalLayer" : {{externalLayer|TRUE_FALSE}},
        "layerIdx": {{ layer.layerIdx }},
        "layerIdentifier": "{{ layer.layerIdentifier }}",
        "legendUrl" :"{{wsUrlGetLegendGraphic|raw}}",
        {% if external_context.layerLegend[layer.layerMsname] is defined %}
        "legends" :  {{ external_context.layerLegend[layer.layerMsname]|raw }},
        {% endif %}
        "minscaledenominator":{{ layer.layerMinscale }},
        "maxscaledenominator":{{ layer.layerMaxscale }},
        "name":{{ layer.layerTitle|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
        "mapName":"{{ mapName }}",
        "layerName":"{{ layer.layerMsname }}",
        "displayClass":{{ layer.layerLegend|TRUE_FALSE }},
        "depth":{{ node.nodeDepth }},
        "forceOpacityControl":true,
        "LayerDownload":{{ layer.layerDownloadable|TRUE_FALSE }},
        "layerSettings_displayMode": "{% if layer.layerDisplayMode is not null and layer.layerDisplayMode is defined %}{{ layer.layerDisplayMode.displayModeId }}{% endif %}",
        "metadataUrl":"{{ layer.layerMetadataFile }}",
        {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid==""%}
          "layerMetadataUuid" : "{{layer.layerMetadataUuid}}",
          "layerType" : "{{layer.layerType.layerTypeCode}}",
          "donwloadUrl" : "{{external_context.downloadURL}}{{layer.layerMetadataUuid}}",
          "layerSettings_geojsonURL": "{{ (external_context.layerGeojsonUrl ~ layer.layerMetadataUuid)}}{% if external_context.map.mapProjectionEpsg is not null %}?srs={{ external_context.map.mapProjectionEpsg.projectionProvider }}:{{ external_context.map.mapProjectionEpsg.projectionEpsg }}{% endif %}",
        {% endif %}
          "LayerLegendScaleDisplay":{{ layer.layerLegendScale|TRUE_FALSE }},
          "baseLayer" : {{ layer.layerIsBackground|TRUE_FALSE }},
          "defaultbaseLayer":  {{ layer.layerId == external_context.defaultBaseLayer ? 'true': 'false' }},
        {% if layer.layerBackgroundImage !="" %}
          "imagebaseLayer" : "{{ external_context.accountUrlFront ~ '/IHM/' ~ external_context.account.accountPath ~ '/' ~ layer.layerBackgroundImage}}",
        {% else %}
          "imagebaseLayer" : "",
        {% endif %}
        {% if layer.layerTiledServerUrl is not null %}
          "tiledStyleUrl" : "{{ layer.layerTiledServerUrl }}",
        {% endif %}
        {% if layer.geojsonParams is not null   %}
          "clusterOptions":{
            {% for geojsonParams in layer.geojsonParams %}
              "url": "{{external_context.layerGeojsonUrl ~ layer.layerMetadataUuid}}{% if external_context.map.mapProjectionEpsg is not null %}?srs={{ external_context.map.mapProjectionEpsg.projectionProvider }}:{{ external_context.map.mapProjectionEpsg.projectionEpsg }}{% endif %}",
              "distance": "{{ geojsonParams.geojsonDistance }}",
              "singleColor": {{ geojsonParams.geojsonSingleColor|TRUE_FALSE }},
              "color": "{{ geojsonParams.geojsonColor }}",
              "fixedSize": {{ geojsonParams.geojsonFixedSize|TRUE_FALSE }},
              "size": "{{ geojsonParams.geojsonSize }}",
              "transitionEffect": {{ geojsonParams.geojsonTransitionEffect|TRUE_FALSE }},
              "zoomOnClick": {{ geojsonParams.geojsonZoomOnClick|TRUE_FALSE }},
              "withText": {{ geojsonParams.geojsonWithText|TRUE_FALSE }}
            {% endfor %}
          },
        {% endif %}
        "layerProjectionEpsg" : "{{layerProjectionEpsg}}",
        "LayerQuery":{
          "hasTooltip" : {{hasTooltip|TRUE_FALSE }},
          "URLConfig":{{ layer.layerFieldUrl|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}},
          {% set firstFieldsLoop=true %}
          "Fields":[
          {% for field in layer.fields %}
            {% if (field.fieldQueries or field.fieldToolTips) %}
              {% if (firstFieldsLoop) %}
                {% set firstFieldsLoop=false %}
              {% else %}
              ,
              {% endif %}
              {
                "FieldName":"{{ field.fieldName }}",
                "FieldAlias":{{ field.fieldAlias|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
                {% if (field.fieldTypeJs=='URL' or field.fieldTypeJs=='IMG' or field.fieldTypeJs=='TXT'or field.fieldTypeJs=='BOUTON') %}
                "FieldType":"{{ field.fieldTypeJs }}",
                {% else %}
                "FieldType":"DATE",
                "FieldDateFormat":"{{ field.fieldTypeJs }}",
                {% endif %}
                "FieldTooltip":{{ field.fieldTooltips|TRUE_FALSE }},
                "FieldQuery":{{ field.fieldQueries|TRUE_FALSE }},
                "FieldSorting":{{ field.fieldHeaders|TRUE_FALSE }},
                "FieldURLConfig":{{ field.fieldUrl|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
              }
            {% endif %}
          {% endfor %}
          ]
        }
      }




    }

  {% else %}
           <LayerTreeNode
             type="layer"
             nodeId="{{ node.nodeId }}"
             layerId="{{ layer.layerId }}"
             layerIdx="{{ layer.layerIdx }}"
             name="{{ layer.layerTitle}}"
             mapName="{{ layer.layerMsname}}"
             Title ="{{ layer.layerWxsname}}"
             visible="{{ layer.layerVisible|ZERO_ONE }}"
             displayClass="{{ layer.layerLegend|ZERO_ONE }}"
             providerGrpId="{{ node.nodeId }}"
             depth="{{ node.nodeDepth }}"
             opacity="{{ layer.layerOpacity / 100 }}"
             forceOpacityControl="1"
           />
  {% endif %}
{% endapply %}
{% endmacro %}


{##
 # Write a Layer node in tree  
 # @param Layer  node   The node description 
 # @param string format The output format : json|ows
 #}
{% macro writeLayer(layer, format, external_context) %} {# bootstrap #}
{% set firstLoop=true %}
{% apply spaceless %}
  {% set layerSettings_infoFields="" %}
  {% set layerSettings_briefFields="" %}
  {% set layerSettings_ToolTipFields="" %}
  {% set firstHeader=true %}
  {% set firstQueries=true %}
  {% set firstTooltips=true %}

  {% for field in layer.fields %}
    {% set fieldSerialize=field.fieldName ~ "|" ~ field.fieldAlias ~ "|" ~ field.fieldTypeJs ~ "|" ~ field.fieldUrl ~ "|1" %}

    {% if field.fieldHeaders %}
      {% if firstHeader %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstHeader=false %}
      {% set layerSettings_briefFields=layerSettings_briefFields ~ separator ~ fieldSerialize %}
    {% endif  %}

    {% if field.fieldQueries %}
      {% if firstQueries %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstQueries=false %}
      {% set layerSettings_infoFields=layerSettings_infoFields ~ separator ~ fieldSerialize %}
    {% endif  %}

    {% if field.fieldTooltips %}
      {% if firstTooltips %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstTooltips=false %}
      {% set layerSettings_ToolTipFields=layerSettings_ToolTipFields ~ separator ~ fieldSerialize %}
    {% endif  %}

  {% endfor %}
  {% if format|lower == "json" %}
      {
        "Title": "{{ layer.layerTitle|e('url') }}",
        "MinScaleDenominator": "{{ layer.layerMinscale }}",
        "MaxScaleDenominator": "{{ layer.layerMaxscale }}",
        "Extension": {

          "LAYER_TITLE": "{{ layer.layerTitle|e('url') }}",
          "layerSettings_group": "{% if layer.group is defined %}{{ layer.group|e('url') }}{% endif %}",
          "layerSettings_order": "{% if layer.orderInGroup is defined %}{{ layer.orderInGroup }}{% endif %}",
          "layerSettings_download": "{{ layer.layerDownloadable|ON_OFF }}",
          "layerSettings_legendScaleDisplay": "{{ layer.layerLegendScale|ON_OFF }}",

          "layerSettings_infoFields": "{{ layerSettings_infoFields|e('url') }}",
          "layerSettings_briefFields": "{{ layerSettings_briefFields|e('url') }}",
          "layerSettings_ToolTipFields": "{{ layerSettings_ToolTipFields|e('url') }}",
          "layerSettings_queryURL": "{{ layer.layerFieldUrl|e('url') }}",
          "layerSettings_displayMode": "{% if layer.layerDisplayMode is not null and layer.layerDisplayMode is defined %}{{ layer.layerDisplayMode.displayModeId }}{% endif %}",

    {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid=="" and external_context.account.accountGeonetworkurl is not null %}
          "GEONETWORK_METADATA_ID" : "{{ layer.layerMetadataUuid }}",
          "layerSettings_geojsonURL": "{{ (external_context.layerGeojsonUrl ~ layer.layerMetadataUuid)}}",
          "layerSettings_Metadata": "{{ (external_context.account.accountGeonetworkurl ~ '/fre/find?uuid=' ~ layer.layerMetadataUuid)|e('url') }}",
    {% endif %}
    {% if layer.layerMetadataFile is not null  and not layer.layerMetadataFile=="" %}
          "layerSettings_MetadataFile": "{{ layer.layerMetadataFile }}",
    {% endif %}
    {% if layer.geojsonParams is not null   %}


      "clusterOptions":{
        {% for geojsonParams in layer.geojsonParams %}
          "distance": "{{ geojsonParams.geojsonDistance }}",
          "singleColor": {{ geojsonParams.geojsonSingleColor|TRUE_FALSE }},
          "color": "{{ geojsonParams.geojsonColor }}",
          "fixedSize": {{ geojsonParams.geojsonFixedSize|TRUE_FALSE }},
          "size": "{{ geojsonParams.geojsonSize }}",
          "transitionEffect": {{ geojsonParams.geojsonTransitionEffect|TRUE_FALSE }},
          "zoomOnClick": {{ geojsonParams.geojsonZoomOnClick|TRUE_FALSE }},
          "withText": {{ geojsonParams.geojsonWithText|TRUE_FALSE }}
        {% endfor %}
      },


    {% endif %}
    {% if not(layer.layerType.layerTypeCode in ['WMS', 'WFS', 'WMSC', 'WMTS']) %}
          "layerSettings_wfsStatus": "{{ layer.layerWfs|ON_OFF }}",
          "layerSettings_wmsStatus": "{{ layer.layerWms|ON_OFF }}",
          "geoide_WFS_STATUS": "{{ layer.layerWfs|ON_OFF }}",
          "geoide_WMS_STATUS": "{{ layer.layerWms|ON_OFF }}",
          "wms_name": "{{ layer.layerName|e('url') }}",
          "wms_title": "{{ layer.layerTitle|e('url') }}",
          "wfs_name": "{{ layer.layerName|e('url') }}",

    {% else %}

      {% if layer.layerType.layerTypeCode in ['WMS'] %}
          "INTERROGEABLE" : "{{ layer.layerWmsQuery|ON_OFF }}",
      {% endif %}

          "layerSettings_Tiled": "{{ (layer.layerType.layerTypeCode in ['WMSC', 'WMTS'])|ON_OFF }}",
          "wms_title" : "{{ layer.layerTitle|e('url') }}",

      {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
          "wms_name"   : "{{ layer.layerWxsname|e('url') }}",
          "wms_format" : "{{ layer.layerOutputformat }}",
          "wms_srs"    : "{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}",

      {% else %}
          "wfs_name"   : "{{ layer.layerWxsname|e('url') }}",
          "wfs_format" : "{{ layer.layerOutputformat }}",
          "wfs_srs"    : "{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}",
      {% endif %}

      {% if layer.layerType.layerTypeCode in ['WMTS'] %}
          "layerSettings_isWmts":"YES",
          "layerSettings_wmtsLayer":"ON",

          "wmts_wms_onlineresource" : "{{ layer.layerTiledServerUrl }}",
          "wmts_wms_layer"          : "{% if layer.layerTiledLayer is not null and not layer.layerTiledLayer=="" %}{{ layer.layerTiledLayer }}{% else %}{{ layer.layerWxsName }}{% endif %}",
          "wmts_resolutions"        : "{{ layer.layerTiledResolutions }}",
          "wmts_tileorigin"         : "{{ layer.layerWmtsTileorigin }}",
          "wmts_matrixids"          : "{{ layer.layerWmtsMatrixids }}",
          "wmts_style"              : "{{ layer.layerWmtsStyle }}",
          "wmts_tileset"            : "{{ layer.layerWmtsTileset }}",
      {%  endif %}

      {% if layer.layerType.layerTypeCode in ['WMSC'] %}
          "layerSettings_isWmsc":"YES",
          "layerSettings_wmscLayer":"ON",

          "wmsc_wms_onlineresource" : "{{ layer.layerTiledServerUrl }}",
          "wmsc_wms_layer"          : "{{ layer.layerTiledLayer }}",
          "wmsc_resolution"         : "{{ layer.layerTiledResolutions }}",
          "wmsc_boundingbox"        : "{{ layer.layerWmscBoundingbox }}",
      {%  endif %}

    {% endif %}
      "LAYER_ID": "{{ layer.layerMsname|e('url') }}"
        },
        "SRS": {
          "attributes": {
            "EPSG": "{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
          }
        },
    {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
        "Server": {
          "attributes": {
            "service": "urn:ogc:serviceType:{{ layer.layerType.layerTypeCode }}",
            "version": "{{ layer.layerServerVersion }}"
          },
          "OnLineResource": {
            "attributes": {
              "type": "simple",
              "url": "{{ layer.layerServerUrl|raw }}"
            }
          }
        },
    {% else %}
        "DataURL": {
          "OnLineResource": {
            "attributes": {
              "url": "{{ (external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName()) }}"
            }
          }
        },
    {% endif %}
        "attributes": {
          "name": "{{ layer.layerMsname|e('url') }}",
          "hidden": "{{ (not layer.layerVisible)|ZERO_ONE }}",
          "queryable": "{{ (layerSettings_infoFields!="")|ZERO_ONE }}",
          "hasLabel": "{{ layer.layerHasLabel|ZERO_ONE }}"
        }
      }
  {% elseif format|lower == "geojson" %}
    {% if (firstLoop) %}
      {% set firstLoop=false %}
    {% else %}
      ,
    {% endif %}

  {% if layer.layerProjectionEpsg is not null %}
    {% set layerProjectionEpsg = layer.layerProjectionEpsg.projectionProvider ~ ':' ~ layer.layerProjectionEpsg.projectionEpsg %}
  {% else %}
    {% set layerProjectionEpsg = 'EPSG:2154' %}
  {% endif %}

  {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
    {% set wsUrlWms = layer.layerServerUrl ~ '?CRS=' ~ layerProjectionEpsg ~ '&styles=default&layers=' ~ layer.layerWxsname ~ '&SERVICE=WMS&VERSION=1.3.0'%}
    {% set wsUrlWfs = layer.layerServerUrl ~ '?srsName=' ~ layerProjectionEpsg ~ '&styles=default&typename=' ~ layer.layerWxsname ~ '&REQUEST=GetFeature&SERVICE=WFS&VERSION=2.0.0&outputformat=geojson'%}
    {% if layer.layerType.layerTypeCode in ['WMS'] %}
      {% set layerOffering = 'WMS'%}
      {% if '?' in layer.layerServerUrl  %}
        {% if '&' in layer.layerServerUrl  %}
          {% set wsUrlGetLegendGraphic = layer.layerServerUrl ~ '&FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerWxsname%}
        {% else %}
          {% set wsUrlGetLegendGraphic = layer.layerServerUrl ~ 'FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerWxsname%}
        {% endif %}
      {% else %}
        {% set wsUrlGetLegendGraphic = layer.layerServerUrl ~ '?FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerWxsname%}
      {% endif %}
    {% elseif layer.layerType.layerTypeCode in ['WMSC'] %}
      {% set layerOffering = 'WMSC'%}
      {% set wsUrlGetLegendGraphic = external_context.accountUrlFront ~ '/assets/img/default.jpg' %}
      {% elseif layer.layerType.layerTypeCode in ['WMTS'] %}
      {% set layerOffering = 'WMTS'%}
    {% set wsUrlWms = layer.layerServerUrl ~ '?CRS=' ~ layerProjectionEpsg ~ '&styles=default&layers=' ~ layer.layerTiledLayer ~ '&SERVICE=WMS&VERSION=1.3.0'%}
    {% set wsUrlWfs = layer.layerServerUrl ~ '?srsName=' ~ layerProjectionEpsg ~ '&styles=default&typename=' ~ layer.layerTiledLayer ~ '&REQUEST=GetFeature&SERVICE=WFS&VERSION=2.0.0&outputformat=geojson'%}
      {% set wsUrlGetLegendGraphic = external_context.accountUrlFront ~ '/assets/img/default.jpg' %}
   {% endif %}
  {% else %}
    {% set layerOffering = 'WMS'%}
    {% set wsUrlWms = external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName() ~ '?CRS=' ~ layerProjectionEpsg ~ '&styles=default&layers=' ~ layer.layerMsName ~ '&SERVICE=WMS&VERSION=1.3.0'%}
    {% set wsUrlWfs = external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName() ~ '?srsName=' ~ layerProjectionEpsg ~ '&styles=default&typename=' ~ layer.layerMsName ~ '&REQUEST=GetFeature&SERVICE=WFS&VERSION=2.0.0&outputformat=geojson'%}
    {% set wsUrlGetLegendGraphic = external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~  external_context.map.getMapfileName() ~'?FORMAT=image/png&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&LAYER=' ~ layer.layerMsName%}
  {% endif %}
    {
        "type":"Feature",
        "id": {{ layer.layerIdx }},
        "geometry":{
          "type":"Polygon",
          "coordinates":[[ [{{external_context.map.mapExtentXmin}}, {{external_context.map.mapExtentYmin}}],
               [{{external_context.map.mapExtentXmin}}, {{external_context.map.mapExtentYmax}}],
               [{{external_context.map.mapExtentXmax}}, {{external_context.map.mapExtentYmax}}],
               [{{external_context.map.mapExtentXmax}}, {{external_context.map.mapExtentYmin}}],
               [{{external_context.map.mapExtentXmin}}, {{external_context.map.mapExtentYmin}}] ]
               ]
        },
        "properties" : {
          "title":"{{ layer.layerTitle }}",
          "active":{{ layer.layerVisible|TRUE_FALSE }},
          "offerings":[
            {
          "code": {% if layerOffering == 'WMTS'  %}"http://www.opengis.net/spec/owc-geojson/1.0/req/wmts"{% else %}"http://www.opengis.net/spec/owc-geojson/1.0/req/wms"{% endif %},
                "operations":[
                  {
                      "code":"GetMap",
                      "method":"GET",
                      "type":"image/png",
                      "href":"{{wsUrlWms|raw}}&REQUEST=GetMap"
                  },
                  {
                      "code":"GetFeatureInfo",
                      "method":"GET",
                      "type":"application/json",
                      "href":"{{wsUrlWms|raw}}&REQUEST=GetFeatureInfo"
                  },
                  {
                      "code":"GetFeature",
                      "method":"GET",
                      "type":"application/json",
                      "href": "{{wsUrlWfs|raw}}"
                  },
                  {
                      "code":"GetLegendGraphic",
                      "method":"GET",
                      "type":"image/png",
                      "href": "{{wsUrlGetLegendGraphic|raw}}"
                  }
                ]
            }
          ],

          "minscaledenominator":{{ layer.layerMinscale }},
          "maxscaledenominator":{{ layer.layerMaxscale }},
          "links":{
                "via":{
                  "href":"{{ layer.layerMetadataFile }}",
                  "type":"application/xml",
                  "length":"",
                  "title":""
                }
        {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid==""%}
          ,"data" : {
            "href" : "{{external_context.downloadURL}}{{layer.layerMetadataUuid}}",
            "type" : "application/html",
            "length" : ""
        }
        {% endif %}
          }
        }
      }
  {% else %}
      <Layer
        name="{{ layer.layerMsname }}"
        hidden="{{ (not layer.layerVisible)|ZERO_ONE }}"
        queryable="{{ (layerSettings_infoFields!="")|ZERO_ONE }}"
      >
        <Title>{{ layer.layerTitle|e('url') }}</Title>

        {#for frontoffice wms call#}
        <Name>{{ layer.layerWxsname}}</Name>
        <MinScaleDenominator>{{ layer.layerMinscale }}</MinScaleDenominator>
        <MaxScaleDenominator>{{ layer.layerMaxscale }}</MaxScaleDenominator>
        <Extension>
          <LAYER_ID>{{ layer.layerIdentifier }}</LAYER_ID>
          <LAYER_TITLE>{{ layer.layerTitle|e('url') }}</LAYER_TITLE>
          <layerSettings_analyseType>{{layer.layerAnalyseType.analyseTypeCode}}</layerSettings_analyseType>
          <layerSettings_group>{% if layer.group is defined %}{{ layer.group }}{% endif %}</layerSettings_group>
          <layerSettings_order>{% if layer.orderInGroup is defined %}{{ layer.orderInGroup }}{% endif %}</layerSettings_order>
          <layerSettings_download>{{ layer.layerDownloadable|ON_OFF }}</layerSettings_download>
          <layerSettings_legendScaleDisplay>{{ layer.layerLegendScale|ON_OFF }}</layerSettings_legendScaleDisplay>
          {% if external_context.layerLegend[layer.layerMsname] is defined %}
            <layerSettings_legends>{{ external_context.layerLegend[layer.layerMsname]|raw }}</layerSettings_legends>
          {% endif %}
          <layerSettings_queryURL>{{ layer.layerFieldUrl|e('url') }}</layerSettings_queryURL>
          <layerSettings_infoFields>{{ layerSettings_infoFields|e('url') }}</layerSettings_infoFields>
          <layerSettings_briefFields>{{ layerSettings_briefFields|e('url') }}</layerSettings_briefFields>
          <layerSettings_ToolTipFields>{{ layerSettings_ToolTipFields|e('url') }}</layerSettings_ToolTipFields>
          <hasLabel>{{ layer.layerHasLabel|ZERO_ONE }}</hasLabel>

    {#PRIORITE AUX METADONNEES GEOSOURCE EN FRONT#}
    {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid==""  and external_context.account.accountGeonetworkurl is not null %}
          <GEONETWORK_METADATA_ID>{{ layer.layerMetadataUuid }}</GEONETWORK_METADATA_ID>
          <layerSettings_Metadata>{{ external_context.account.accountGeonetworkurl}}/fre/find?uuid={{ layer.layerMetadataUuid }}</layerSettings_Metadata>
    {%else%}
      {% if layer.layerMetadataFile is not null and not layer.layerMetadataFile=="" %}
          <layerSettings_Metadata>{{ layer.layerMetadataFile }}</layerSettings_Metadata>
    {% endif %}
    {% endif %}

    {% if not(layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS']) %}
          <wms_title>{{ layer.layerTitle|e('url') }}</wms_title>
          <wms_name>{{ layer.layerMsName }}</wms_name>
          <wfs_name>{{ layer.layerMsName }}</wfs_name>
    {% else %}
          <layerSettings_Tiled>{{ (layer.layerType.layerTypeCode in ['WMSC', 'WMTS'])|ON_OFF }}</layerSettings_Tiled>
          <wms_title>{{ layer.layerTitle|e('url') }}</wms_title>
          <wms_layer>{{ layer.layerWxsName }}</wms_layer>
          <wms_name>{{ layer.layerWxsname }}</wms_name>
          <wms_format>{{ layer.layerOutputformat }}</wms_format>
          <wms_srs>{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}</wms_srs>

    {% endif %}

    {% if layer.layerType.layerTypeCode in ['WMTS'] %}
          <layerSettings_isWmts>YES</layerSettings_isWmts>
          <layerSettings_wmscLayer>ON</layerSettings_wmscLayer>

          <wmts_wms_onlineresource>{{ layer.layerTiledServerUrl }}</wmts_wms_onlineresource>
          <wmts_wms_layer>{% if layer.layerTiledLayer is not null and not layer.layerTiledLayer=="" %}{{ layer.layerTiledLayer }}{% else %}{{ layer.layerWxsName }}{% endif %}</wmts_wms_layer>
          <wmts_resolutions>{{ layer.layerTiledResolutions }}</wmts_resolutions>
          <wmts_tileorigin>{{ layer.layerWmtsTileorigin }}</wmts_tileorigin>
          <wmts_matrixids>{{ layer.layerWmtsMatrixids }}</wmts_matrixids>
          <wmts_style>{{ layer.layerWmtsStyle }}</wmts_style>
          <wmts_tileset>{{ layer.layerWmtsTileset }}</wmts_tileset>
    {%  endif %}

    {% if layer.layerType.layerTypeCode in ['WMSC'] %}
          <layerSettings_isWmsc>YES</layerSettings_isWmsc>
          <layerSettings_wmscLayer>ON</layerSettings_wmscLayer>

          <wmsc_wms_onlineresource>{{ layer.layerTiledServerUrl }}</wmsc_wms_onlineresource>
          <wmsc_wms_layer>{{ layer.layerTiledLayer }}</wmsc_wms_layer>
          <wmsc_resolution>{{ layer.layerTiledResolutions }}</wmsc_resolution>
          <wmsc_boundingbox>{{ layer.layerWmscBoundingbox }}</wmsc_boundingbox>
    {%  endif %}

       </Extension>

       <SRS>{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}</SRS>
    {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
       <Server version="{{ layer.layerServerVersion }}" service="urn:ogc:serviceType:{{ layer.layerType.layerTypeCode }}">
         <OnlineResource type="simple" href="{{ layer.layerServerUrl }}"/>
       </Server>
    {% else %}
       {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid==""%}
         <DataURL>
           <OnlineResource type="simple" href="{{external_context.downloadURL}}{{layer.layerMetadataUuid}}"/>
         </DataURL>
       {% endif %}
       <Server>
         <OnlineResource type="simple" href="{{external_context.accountUrlData}}/{{external_context.cgi_url}}{{ external_context.map.getMapfileName()}}" />
       </Server>
    {% endif %}
       {% if layer.layerMetadataFile is not null and not layer.layerMetadataFile=="" %}
        <MetadataURL>
            <OnlineResource type="simple" href="{{ layer.layerMetadataFile }}" />
         </MetadataURL>
       {% endif %}
       <FormatList current="1">
            <Format>image/png</Format>
       </FormatList>
       <StyleList>
        <Style current="0">
          <Name>default</Name>
          <Title>{{layer.layerTitle}}</Title>
          <LegendURL width="20" height="10" format="jpeg">
            {% if layer.layerType.layerTypeCode in ['WMS'] %}
              <OnlineResource type="simple" href="{{ layer.layerServerUrl }}?FORMAT=image%2Fpng&amp;SERVICE=WMS&amp;VERSION=1.1.1&amp;REQUEST=GetLegendGraphic&amp;STYLES=&amp;EXCEPTIONS=application%2Fvnd.ogc.se_xml&amp;LAYER={{ layer.layerMsName|e('url') }}"/>
            {% elseif layer.layerType.layerTypeCode in ['WMSC', 'WMTS'] %}
              <OnlineResource type="simple" href="/images/blank.gif"/>
            {% else %}
             <OnlineResource type="simple" href="{{external_context.accountUrlData}}/{{external_context.cgi_url}}{{ external_context.map.getMapfileName()}}?FORMAT=image%2Fpng&amp;SERVICE=WMS&amp;VERSION=1.1.1&amp;REQUEST=GetLegendGraphic&amp;STYLES=&amp;EXCEPTIONS=application%2Fvnd.ogc.se_xml&amp;LAYER={{ layer.layerMsName|e('url') }}" />
            {% endif %}
          </LegendURL>
        </Style>
      </StyleList>
      </Layer>
  {% endif %}
{% endapply %}
{% endmacro %}


{##
 # Write Tools
 # @param tools  node   The node description
 #}
{% macro writeTools(tools, string, map) %} {# bootstrap #}{% apply spaceless %}

  {% for tool in tools %}
    {% if tool.getToolIdentifier() == string %}
        {{ tool.isEnabledFor(map)|TRUE_FALSE }}
    {% endif  %}
    {% if tool.getToolXmlNodeValue() == string %}
      {% set maptool = map.getMaptool(tool) %}
      {%if maptool %}
         {{maptool.getMaptoolValue()}}
      {% endif  %}
    {% endif  %}
  {% endfor %}

{% endapply %}{% endmacro %}
