{% import 'OwsContextBundle/Default/context.macros.twig' as macros %}
<?xml version="1.0" encoding="UTF-8"?>
<ViewContext version="1.1.0" id="{{ map.mapFile|e('html_attr') }}"
             schemaLocation="http://www.opengeospatial.net/context context.xsd">
    <General>
        <BoundingBox SRS="EPSG:4326"
                     crs="+init={% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionProvider }}:{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
                     minx="{{ map.mapExtentXmin }}" miny="{{ map.mapExtentYmin }}" maxx="{{ map.mapExtentXmax }}"
                     maxy="{{ map.mapExtentYmax }}"/>

        <Title>{{ map.mapTitle|e('url') }}</Title>

        {% if mapUI.uiLogo %}

            <LogoURL{# width="50" height="101" format="gif" #}>
                <OnlineResource type="simple"
                                href="{{ accountUrlFront }}/IHM/IHM/{{ account.accountPath }}/{{ mapUI.uiLogopath|e('html_attr') }}"/>
            </LogoURL>
        {% endif %}


        <Extension>
            <MaxBoundingBox SRS="EPSG:4326"
                            crs="+init={% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionProvider }}:{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
                            minx="{{ map.mapExtentXmin }}" miny="{{ map.mapExtentYmin }}" maxx="{{ map.mapExtentXmax }}"
                            maxy="{{ map.mapExtentYmax }}"/>

            <display_header>{{ mapUI.uiBanner|ON_OFF }}</display_header>
            <header_model>{{ mapUI.uiBannerFile }}</header_model>
            {# <inspire_flag>1</inspire_flag> #}

            <EXT_THEME_COLOR>
                {% if mapUI.uiColor is not null %}
                    {{ mapUI.uiColor.colorKey }}
                {% else %}
                    olive
                {% endif %}
            </EXT_THEME_COLOR>

            <MinScaleDenom>{{ map.mapMinscale }}</MinScaleDenom>
            <MaxScaleDenom>{{ map.mapMaxscale }}</MaxScaleDenom>
            {# <RESUME>{{ map.mapSummary|e('url') }}</RESUME> #}


            <AJOUT_COUCHE>ON</AJOUT_COUCHE>
            <AJOUT_COUCHE_WFS>ON</AJOUT_COUCHE_WFS>

            <OUTIL_TRANSPARENCE>ON</OUTIL_TRANSPARENCE>
            {# <COMMENTAIRE></COMMENTAIRE> #}

            <mapSettings_inlay>1</mapSettings_inlay>
            {# <mapSettings_pwd>{{ map.mapPassword }}</mapSettings_pwd> #}
            <mapSettings_copyright>{{ mapUI.uiCopyright|ZERO_ONE }}</mapSettings_copyright>
            <mapSettings_copyrightTxt>{{ mapUI.uiCopyrightText|e('url') }}</mapSettings_copyrightTxt>


            <mapSettings_logo>{{ mapUI.uiLogo|ZERO_ONE }}</mapSettings_logo>
            <mapSettings_logoPath>{{ (accountUrlFront ~ '/IHM/IHM/' ~ account.accountPath ~ '/' ~ mapUI.uiLogopath) }}</mapSettings_logoPath>

            {# <mapSettings_inCatalogue>{{ map.mapCatalogable|ON_OFF }}</mapSettings_inCatalogue> #}

            <mapSettings_outputFormat>png</mapSettings_outputFormat>
            <mapSettings_backgroundImageColor>{{ map.mapBgcolor }}</mapSettings_backgroundImageColor>

            <mapSettings_layoutModels>{{ mapModels|e('url') }}</mapSettings_layoutModels>
            <mapSettings_mapfile>{{ map.mapFile }}</mapSettings_mapfile>

            <mapSettings_helpDisplay>{{ mapUI.helpDisplay }}</mapSettings_helpDisplay>
            <mapSettings_helpMessage>{{ mapUI.helpMessage }}</mapSettings_helpMessage>
            <mapSettings_cguDisplay>{{ mapUI.cguDisplay }}</mapSettings_cguDisplay>
            <mapSettings_cguMessage>{{ mapUI.cguMessage }}</mapSettings_cguMessage>


            <!-- Map Tools -->
            {% for tool in tools %}
                <{{ tool.toolXmlNodeprefix }}_{{ tool.toolIdentifier }}>
                    {% if tool.toolXmlNodeprefix == "mapSettings" %}
                        {{ tool.isEnabledFor(map)|ZERO_ONE }}
                    {% else %}
                        {% set maptool = map.getMaptool(tool) %}
                        {% if maptool is not null and tool.toolXmlNodeValue is not null %}
                            {{ maptool.getMaptoolValue() }}
                        {% else %}
                            {{ tool.isEnabledFor(map)|ZERO_ONE }}
                        {% endif %}
                    {% endif %}</{{ tool.toolXmlNodeprefix }}_{{ tool.toolIdentifier }}>
            {% endfor %}

            <tool_focus>{{ mapUI.uiFocus|ON_OFF }}</tool_focus>
            <tool_referenceMap>{{ mapUI.uiKeymap|ON_OFF }}</tool_referenceMap>
            <tool_legend>{{ mapUI.uiLegend|ON_OFF }}</tool_legend>
            {# <tool_legendPrint>{{ mapUI.uiLegendPrint|ON_OFF }}</tool_legendPrint> #}

            <tool_zoomToPlace>{{ mapUI.uiLocate|ON_OFF }}</tool_zoomToPlace>
            <tool_zoomToPlaceConfig>{{ mapLocators|e('url') }}</tool_zoomToPlaceConfig>
            {# <zones_favorites>{{ favoriteAreas|e('url') }}</zones_favorites> #}

            <ReferenceMap width="180" height="100">
                <BoundingBox
                        crs="+init=epsg:{% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}2154{% endif %}">
                    <LowerCorner>{{ map.mapRefmapExtentXmin }} {{ map.mapRefmapExtentYmin }}</LowerCorner>
                    <UpperCorner>{{ map.mapRefmapExtentXmax }} {{ map.mapRefmapExtentYmax }}</UpperCorner>
                </BoundingBox>
                <OnlineResource
                        href="{{ accountUrlFront }}/IHM/IHM/{{ account.accountPath }}/{{ map.mapRefmapImage }}"/>
            </ReferenceMap>

            <LayerTree>{{ macros.getLayerTree(map_tree, 'ows', 0, _context) }}</LayerTree>
            <LayerTreePrint>{{ macros.getLayerTree(map_tree_print, 'ows', 0, _context) }}</LayerTreePrint>
            <Labels>
                {% for layer in layers %}
                    {% if layer.layerHaslabel is defined %}
                        {{ macros.writeLayer(layer, 'ows', _context) }}
                    {% endif %}
                {% endfor %}
            </Labels>
        </Extension>
    </General>
    <LayerList>
        {% for layer in layers %}
            {{ macros.writeLayer(layer, 'ows', _context) }}
        {% endfor %}
    </LayerList>
</ViewContext>

