{% import 'OwsContextBundle/Default/context.macros.twig' as macros %}

{
  "OWSContext": {
    "attributes": {
      "version": "1.1.0",
      "id": "{{ map.mapFile|e('url') }}",
      "schemaLocation": "http:\/\/www.opengeospatial.net\/context context.xsd"
    },
    "General": {
      "BoundingBox": {
        "LowerCorner": "{{ map.mapExtentXmin }} {{ map.mapExtentYmin }}",
        "UpperCorner": "{{ map.mapExtentXmax }} {{ map.mapExtentYmax }}",
        "attributes": {
          "crs": "+init={% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionProvider }}:{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
        }
      },
      "MaxBoundingBox": {
        "LowerCorner": "{{ map.mapExtentXmin }} {{ map.mapExtentYmin }}",
        "UpperCorner": "{{ map.mapExtentXmax }} {{ map.mapExtentYmax }}",
        "attributes": {
          "crs": "+init={% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionProvider }}:{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
        }
      },
      "Title": "{{ map.mapTitle|e('url') }}",
      "KeywordList": [
      {% for keyword in map.keywords %}
      { "Keyword" : "{{ (keyword.category.categoryName ~ ' - ' ~ keyword.keywordName)|e('url') }}" }{% if not loop.last %},{% endif %}
      {% endfor %}
      ],
  {% if mapUI.uiLogo %}
      "LogoURL": {
        "attributes": {
          "width": "44",
          "height": "25",
          "format": "gif"
        },
        "OnlineResource": {
          "attributes": {
            "href": "{{ mapUI.uiLogopath }}"
          }
        }
      },
  {% endif %}
      "Extension": {
        "display_header": "{{ mapUI.uiBanner|ON_OFF }}",
        "header_model": "{{ mapUI.uiBannerFile|e('url') }}",
        "inspire_flag": "1",
        
        "MINSCALEDENOM": "{{ map.mapMinscale }}",
        "MAXSCALEDENOM": "{{ map.mapMaxscale }}",
        "RESUME": "{{ map.mapSummary|e('url') }}",
        
        "AJOUT_COUCHE": "ON",
        "AJOUT_COUCHE_WFS": "ON",
        "EXT_THEME_COLOR": "{% if mapUI.uiColor is not null %}{{ mapUI.uiColor.colorKey }}{% else %}olive{% endif %}",
        "OUTIL_TRANSPARENCE": "ON",
        "COMMENTAIRE": null,
        "mapSettings_inlay" :"1",
        "mapSettings_pwd": "{{ map.mapPassword|e('url') }}",
        "mapSettings_copyright": "{{ mapUI.uiCopyright|ZERO_ONE }}",
        "mapSettings_copyrightTxt": "{{ mapUI.uiCopyrightText|e('url') }}",
        "mapSettings_logo": "{{ mapUI.uiLogo|ZERO_ONE }}",
        "mapSettings_logoPath": "{{ (accountUrlFront ~ '/IHM/IHM/' ~ account.accountPath ~ '/' ~ mapUI.uiLogopath) }}",
        "mapSettings_backgroundImageColor": "{{ map.mapBgcolor|e('url') }}",
        
        "mapSettings_inCatalogue": "{{ map.mapCatalogable|ON_OFF }}",
        
        "mapSettings_layoutModels":  "{{ mapModels|e('url') }}",
        
  {% for tool in tools %}
        "{{ tool.toolXmlNodeprefix }}_{{ tool.toolIdentifier }}" : "{% if tool.toolXmlNodeprefix == "mapSettings" %}{{ tool.isEnabledFor(map)|ZERO_ONE }}{% else %}{{ tool.isEnabledFor(map)|ON_OFF }}{% endif %}",
    {% set maptool = map.getMaptool(tool) %}
    {% if maptool is not null and tool.toolXmlNodeValue is not null %}
        "{{ tool.toolXmlNodeprefix }}_{{ tool.toolXmlNodeValue }}" : "{{ maptool.getMaptoolValue() }}",
    {% endif %}
  {% endfor %}
  
  
        "tool_focus" : "{{ mapUI.uiFocus|ON_OFF }}",
        "tool_referenceMap" : "{{ mapUI.uiKeymap|ON_OFF }}",
        "tool_legend" : "{{ mapUI.uiLegend|ON_OFF }}",
        "tool_legendPrint" : "{{ mapUI.uiLegendPrint|ON_OFF }}",
         
        "tool_zoomToPlace" : "{{ mapUI.uiLocate|ON_OFF }}",
        "tool_zoomToPlaceConfig" : "{{ mapLocators|e('url') }}",
        "zones_favorites" : "{{ favoriteAreas|e('url') }}",
        
        "ReferenceMap": {
          "attributes": {
            "width": "180",
            "height": "100"
          },
          "BoundingBox": {
            "attributes": {
              "crs": "+init={% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionProvider }}:{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
            },
		 	{% if map.mapRefmapExtentXmin is not null %}
            "LowerCorner": "{{map.mapRefmapExtentXmin}} {{map.mapRefmapExtentYmin}}",
            "UpperCorner": "{{map.mapRefmapExtentXmax}} {{map.mapRefmapExtentYmax}}"
            {% else %}
            "LowerCorner": "{{ map.mapExtentXmin }} {{ map.mapExtentYmin }}",
            "UpperCorner": "{{ map.mapExtentXmax }} {{ map.mapExtentYmax }}"
            {% endif %}
          },
          "OnlineResource": {
            "attributes": {
              "href": "{{ (accountUrlFront ~ '/IHM/IHM/' ~ account.accountPath ~ '/' ~ map.mapRefmapImage) }}"
            }
          }
        },
        "LayerTree"     : {{ macros.getLayerTree(map_tree, 'json', 0, _context) }},
        "LayerTreePrint": {{ macros.getLayerTree(map_tree_print, 'json', 0, _context) }},
        "Labels" :  {
		      "Layer": [
		{% for layer in layers %}
          {% if layer.layerHasLabel is defined %}
		    {% if not loop.first %},{% endif %}
		      {{ macros.writeLayer(layer, 'json', _context) }}
                {% endif %}
		    {% endfor %}

		      ] 
		    }
      } 
    },
    "ResourceList": {
      "Layer": [
    {% for layer in layers %}
      {{ macros.writeLayer(layer, 'json', _context) }}
      {% if not loop.last %},{% endif %}
    {% endfor %}
      ] 
    }
  }
}