{% import 'OwsContextBundle/Default/context.macros.twig' as macros %}
{  
   "type":"FeatureCollection",
   "id":"{{ map.mapFile}}",
   "properties":{  
      "lang":"en",
      "title":{{ map.mapTitle|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}},
      "subtitle":{{ map.mapSummary|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}},
      "authors":[  
         {  
            "name":"PRODIGE"
         }
      ],
      "links":{  
         "profiles":[  
            {  
               "href":"http://www.opengis.net/spec/owc-geojson/1.0/req/core",
               "title":"This file is compliant with version 1.0 of OGC Context"
            }
         ]
      },
      "bbox":[{{map.mapExtentXmin}}, {{map.mapExtentYmin}}, {{map.mapExtentXmax}}, {{map.mapExtentYmax}}],
      "extension":{  
            "maxBbox":[{{map.mapExtentXmin}}, {{map.mapExtentYmin}}, {{map.mapExtentXmax}}, {{map.mapExtentYmax}}],
            "MapMinscaleDenominator":"{{ map.mapMinscale }}",
            "MapMaxscaleDenominator":"{{ map.mapMaxscale }}",
            "MapDescription":{{ mapUI.helpMessage|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}},
            "MapCGUDisplay":{{ mapUI.cguDisplay|TRUE_FALSE}},
            "MapCGU":{{ mapUI.cguMessage|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}},
            "MapMetadata" : {
               "links": {  
                           "via":{  
                                 "href":"{{ geonetworkURL ~ "srv/fre/catalog.search#/metadata/" ~ map.mapWmsmetadataUuid}}",
                                 "type":"text/html"
                           }
               }
            },
            "MapRelatedProjects" : [
                {% for onlineRessource in mapOnlineResources %}
                {% if not loop.first %},{% endif %}
                {
                 "title" : {{ onlineRessource.OnlineResourceCategoryName|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}},
                 "links": [{  
                    "relatedLinks":[
                    {% for singleLink in onlineRessource.OnlineResource %}
                    {% if not loop.first %},{% endif %}
                    {  
                        "href":"{{ singleLink.OnlineRessourceUrl }}",
                        "type":"text/html",
                        "title": {{ singleLink.OnlineRessourceName|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}}
                    }
                    {% endfor %}
                    ]
                }]
                }
                {% endfor %}
            ],
         "MapBackgroundColor":"{{ map.mapBgcolor }}",
         "Layout":{  
            "Theme":"{% if mapUI.uiColor is not null %}{{ mapUI.uiColor.colorKey }}{% else %}olive{% endif %}",
            "PrintModels":{{mapModelsGeoJson|raw}},
            "Copyright":{  
               "Text":"{{mapUI.uiCopyrightText}}"
            },
            "ScaleImg":{{ macros.writeTools(tools, 'scaleImg', map) }},
            "LogoURL":{  
               "properties":{  
                  "links":{  
                     "previews":[  
                        {  
                           "href":"{{ (accountUrlFront ~ '/IHM/' ~ account.accountPath ~ '/' ~ mapUI.uiLogopath) }}",
                           "type":"image/png",
                           "height":"200",
                           "width":"200"
                        }
                     ]
                  }
               }
            },
            "ReferenceMap":{{ mapUI.uiKeymap|TRUE_FALSE }},
            "ReferenceMapConfig":{  
               "properties":{  
                  "links":{  
                     "previews":[  
                        {  
                           "href":"{{ (accountUrlFront ~ '/IHM/' ~ account.accountPath ~ '/' ~ map.mapRefmapImage) }}",
                           "type":"image/png",
                           "height":"100",
                           "width":"180"
                        }
                     ]
                  },
                  "bbox":[{{map.mapRefmapExtentXmin}}, {{map.mapRefmapExtentYmin}}, {{map.mapRefmapExtentXmax}}, {{map.mapRefmapExtentYmax}}]
               }
            },
            "Legend":{{ mapUI.uiLegend|TRUE_FALSE }}
         },
         "Tools":{  
            "AddLayer":{{ macros.writeTools(tools, 'addLayer', map) }},
            "Buffer":{{ macros.writeTools(tools, 'buffer', map) }},
            "Context":{{ macros.writeTools(tools, 'context', map) }},
            "Share":{{ macros.writeTools(tools, 'share', map) }},
            "Fullscreen":{{ macros.writeTools(tools, 'fullscreen', map) }},
            "Coordinates":{{ macros.writeTools(tools, 'coordinates', map) }},
            "Download":false,
            "PrintImg":{{ macros.writeTools(tools, 'exportImg', map) }},
            "PrintPdf":{{ macros.writeTools(tools, 'exportPdf', map) }},
            "Export":{{ macros.writeTools(tools, 'exportMultiple', map) }},
            {% if macros.writeTools(tools, 'fixedScalesExportPDF', map)|trim  !=  '' %}
            "fixedScalesExportPDF":{{ macros.writeTools(tools, 'fixedScalesExportPDF', map) }},
            {% endif %}
            "FitAll":{{ macros.writeTools(tools, 'fitall', map) }},
            "Info":{{ macros.writeTools(tools, 'info', map) }},
            "InfoAttributesQuery":{{ macros.writeTools(tools, 'queryAttributes', map) }},
            "Measure":{{ macros.writeTools(tools, 'measure', map) }},
            "Route":{{ macros.writeTools(tools, 'route', map) }},
            "Elevation":{{ macros.writeTools(tools, 'measure', map) }},
            "ScaleSelector":{{ macros.writeTools(tools, 'scale', map) }},
            "InfoTooltip":{{ macros.writeTools(tools, 'infoTooltip', map) }},
            "InfoExport":{{ macros.writeTools(tools, 'infoExport', map) }},
            "Zoom":{{ macros.writeTools(tools, 'zoom', map) }},
            "Localisation":{{ mapUI.uiLocate|TRUE_FALSE }},
            "LocalisationConfig":{{mapLocatorsGeoJson|raw}},
            "Search":{{ macros.writeTools(tools, 'global_search', map) }},
            "Geobookmark":{{ macros.writeTools(tools, 'geobookmark', map) }},
            "GeobookmarkConfig":{{favoriteAreasGeoJson|raw}},
            "Annotation":{  
                "Attribut":{{ macros.writeTools(tools, 'attribut_annotation', map) }},
                {% if macros.writeTools(tools, 'attribut_value_annotation', map)|trim  !=  '' %}
                "AttributName":["{% apply spaceless %}{{macros.writeTools(tools, 'attribut_value_annotation', map)|split('|')|join('","')|raw}}"]{% endapply %},
                {% else %}
                "AttributName":[],
                {% endif %}
                "Buffer":{{ macros.writeTools(tools, 'buffer_from_selection_annotation', map) }},
                "BufferGeneral":{{ macros.writeTools(tools, 'buffer_all_annotation', map) }},
                {% if macros.writeTools(tools, 'buffer_all_value_annotation', map)|trim  !=  '' %}
                "BufferGeneralDistance": {{ macros.writeTools(tools, 'buffer_all_value_annotation', map) }},
                {% endif %}
                "Export":{{ macros.writeTools(tools, 'export_annotation', map) }},
                "Point":{{ macros.writeTools(tools, 'point_annotation', map) }},
                "Line":{{ macros.writeTools(tools, 'line_annotation', map) }},
                "Polygon":{{ macros.writeTools(tools, 'polygon_annotation', map) }},
                "Modify":{{ macros.writeTools(tools, 'modify_annotation', map) }},
                "Move":{{ macros.writeTools(tools, 'move_annotation', map) }},
                "Snapping":{{ macros.writeTools(tools, 'snapping', map) }},
                "Styles":{{ macros.writeTools(tools, 'styles_annotation', map) }},
                "Text":{{ macros.writeTools(tools, 'text_annotation', map) }},
                "Isochrone":{{ macros.writeTools(tools, 'isochrone', map) }}
            }
         },
         "layers":{{ macros.getLayerTree(map_tree, 'geojson', 0, _context) }}
      }
   },
   "features":[  
    {% for layer in layers %}
        {% if not loop.first %},{% endif %}
        {{ macros.writeLayer(layer, 'geojson', _context) }}
    {% endfor %}
   ],
   "crs": 
   { 
       "type": "name", 
       "properties": 
       { 
           "name": "urn:ogc:def:crs:{% if map.mapProjectionEpsg is not null %}{{ map.mapProjectionEpsg.projectionProvider }}:{{ map.mapProjectionEpsg.projectionEpsg }}{% else %}EPSG::2154{% endif %}"
        } 
    }
}