@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-y7f1t3');
	src:url('fonts/icomoon.eot?#iefix-y7f1t3') format('embedded-opentype'),
		url('fonts/icomoon.woff?-y7f1t3') format('woff'),
		url('fonts/icomoon.ttf?-y7f1t3') format('truetype'),
		url('fonts/icomoon.svg?-y7f1t3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	/*speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lastzoom:before {
	content: "\e617";
}
.icon-polygon:before {
	content: "\e612";
}
.icon-polyline:before {
	content: "\e613";
}
.icon-addlayer:before {
	content: "\e60c";
}
.icon-projection1:before {
	content: "\e60d";
}
.icon-projection2:before {
	content: "\e60e";
}
.icon-scale:before {
	content: "\e60f";
}
.icon-point:before {
	content: "\e610";
}
.icon-point-thin:before {
	content: "\e611";
}
.icon-tampon:before {
	content: "\e614";
}
.icon-straighten:before {
	content: "\e609";
}
.icon-texture:before {
	content: "\e60a";
}
.icon-file:before {
	content: "\e615";
}
.icon-hand:before {
	content: "\e600";
}
.icon-stack:before {
	content: "\e616";
}
.icon-ruler:before {
	content: "\e601";
}
.icon-ruler2:before {
	content: "\e602";
}
.icon-chat:before {
	content: "\e603";
}
.icon-square:before {
	content: "\e604";
}
.icon-square2:before {
	content: "\e60b";
}
.icon-circle:before {
	content: "\e605";
}
.icon-globe:before {
	content: "\e606";
}
.icon-globe2:before {
	content: "\e607";
}
.icon-ruler3:before {
	content: "\e608";
}
